[2015-05-02 09:12] tdicola opened #1 "Python libraries wingpio, winspi, wini2c not yet published?"
Sorry if this is the wrong spot to raise an issue like this, but I'm hoping it can make it to the right folks.  I'm checking out the Python IoT preview samples (PythonBlinky, PythonBlinkyServer) but I can't seem to find the source for the wingpio, winspi, and wini2c libraries that provide Python access to GPIO, SPi, I2C, etc.  The readme.txt for the PTVS IoT preview mentions a repository that shou

[2015-05-02 09:26] GQHD168 commented on #1
I'm sorry about that. I just start learning. Sorry.

发自我的 Windows Phone
________________________________
发件人: Tony DiCola<mailto:notifications@github.com>
发送时间: ‎2015/‎5/‎2 17:12
收件人: ms-iot/samples<mailto:samples@noreply.github.com>
主题: [samples] Python libraries wingpio, winspi, wini2c not yet published? (#1)

Sorry if this is the wrong spot to raise an issue like this, but I'm hoping it can mak

[2015-05-02 15:46] brucelane opened #2 "Cinder or openFrameworks sample?"
hello,
It would be great to have a sample for this frameworks.
Thank you

[2015-05-03 17:14] ooeygui commented on #2
We would love to have some help on this.

[2015-05-05 08:46] alecont commented on #2
Yep! I love Cinder and OF from my days in VC++ :-) MS OpenTech worked a bunch on Cinder and OF for ports to Windows Store (which will be beneficial for the UWP angle).
One of the main issues I can see is that we don't have yet a performant DirectX stack on the Rpi2. But it's there (already) on the MBM.

I'm checking with some of the folks that worked on Cinder and OF, and I'll report back.

@bruce

[2015-05-05 08:49] alecont commented on #1
this is the right place! thx for reporting this, tdicola. We messed up a little our links, and we're correcting this now.

Also, we'd love to collaborate to get your libs to support Win10 IoT Core! And get your input on our versions of the libs.

[2015-05-05 09:01] brucelane commented on #2
@alecont : Andrew Bell from the Cinder team is working on the glNext branch which can use ANGLE but neeeds more time to add the ARM branch of it...
I'm a visual artist building my own VJ software, and I would like to use Cinder on the RPI2 on W10 to use it as a MIDI (or other devices) network router so send WebSocket messages.
It would imply maybe a node.js server (which is working fine right now)

[2015-05-05 11:23] GQHD168 commented on #2
Hi，i'm using gpio of rpi2，but i can't find the interface of gpio in vs 2015rc, no matter I use c++ or c#.  What's the problem?

发自我的 Windows Phone
________________________________
发件人: Bruce LANE<mailto:notifications@github.com>
发送时间: ‎2015/‎5/‎2 23:46
收件人: ms-iot/samples<mailto:samples@noreply.github.com>
主题: [samples] Cinder or openFrameworks sample? (#2)

hello,
It would be great to have a samp

[2015-05-05 15:28] olivierbloch commented on #2
Hi @GQHD168
Chances are this is due to the fact that the original commit was referencing an older version of the SDK. I just merged a pull request that solves this issue.
Let me know if that works for you.

[2015-05-06 00:07] wjk opened #5 "License Conflict"
I just noticed that the license for the `IOTCoreDefaultApp` is listed in its License.txt file as Lesser GPL, yet the code states that it is MIT-licensed. Which is it (and I really hope that the answer is MIT)? Thanks!

[2015-05-06 07:56] plkumar opened #6 "AllJoyn Adapter Host App - Error a value of type "BridgeRT::IAdapterValue ^" cannot be used to initialize an entity of type "AdapterLib::AdapterValue ^" AdapterLib"
Severity	Code	Description	Project	File	Line
Error	C2440	'initializing': cannot convert from 'BridgeRT::IAdapterValue ^' to 'AdapterLib::AdapterValue ^'	AdapterLib	D:\Projects\Windows-universal-samples\SampleAllJoynApp\SampleAllJoynApp\AdapterLib\Adapter.cpp	172

Severity	Code	Description	Project	File	Line
Error		IntelliSense: a value of type "BridgeRT::IAdapterValue ^" cannot be used to initialize

[2015-05-06 22:25] charlehsin commented on #6
My workaround is:
AdapterValue^ attribute = ref new AdapterValue("");
attribute->Set(adapterProperty->Attributes->GetAt(0));

[2015-05-06 22:32] charlehsin opened #8 "AllJoyn DSB Template: AdapterBackgroundService deploy error."
I am trying to run the AllJoyn DSB template and follow the GpioDevice Sample Tutorial.
I can succesfully run AdapterHostApp on my Win10 PC. However, when I tried to deploy "AdapterBackgroundService" to a MBM Win IoT Core system, I got the following error:

Error : DEP0700 : Registration of the app failed. C:\.......\App1AdapterBackgroundServiceVS.Debug_Win32.Tester\AppxManifest.xml(25,6): error 0x

[2015-05-06 22:58] bfjelds commented on #5
Thanks for finding that!  We have updated all of our license.txt files to reflect the MIT license that is called out in the source code.

[2015-05-06 22:58] #5 closed

[2015-05-06 23:18] zhuridartem commented on #8
Hello,

We've reproduced this issue. Turns out the required Assets\ that are referenced in project AdapterBackgroundService file Package.appxmanifest are missing. They are present in the AdapterHostApp project.

So, to fix:
1. Copy Assets directory from AdapterHostApp folder to AdapterBackgroundService folder.
2. Under AdapterBackgroundService project, right click, Add -> New Filter, call it "Asse

[2015-05-07 16:10] charlehsin commented on #8
Great. It fixes it.  By the way, do you know why there can only be 1 background service running at 1 time?  When I deploy this, the in-box ZWave Adapter service stops.

[2015-05-07 16:10] #8 closed

[2015-05-07 16:13] charlehsin opened #10 "Only 1 AllJoyn background service can run on Win IoT at 1 time?"
Originally, the in-box ZWaveBackgroundService is running. However, when I deployed the dummy AllJoyn AdapterBackgroundSerivce (created from DSBTemplate), ZWaveBackgroundService stoped automatically. I would imagine that multiple instances should be allowed to run, to support multiple devices. Can any one help  on this issue?
Chih-fan

[2015-05-08 03:35] parnz opened #11 "MessageDialog not working."
Hello Developers, I'm trying to display a message box in rpi2 I take the code from [THIS](https://github.com/Microsoft/Windows-universal-samples/tree/master/messagedialog) (C#) and deploy it on rpi2 running windows 10 iot but it does not works. But it works on my pc (windows 10 pro insider preview build 10074 64bit + visual studio 2015 rc).

If this code not compatible with windows iot core then p

[2015-05-08 04:10] zhuridartem commented on #6
The document is missing a dynamic_cast<AdapterValue^> for the following line:

AdapterProperty^ adapterProperty = dynamic_cast<AdapterProperty^>(Property);
AdapterValue^ attribute = adapterProperty->Attributes->GetAt(0);

should be:

AdapterProperty^ adapterProperty = dynamic_cast<AdapterProperty^>(Property);
AdapterValue^ attribute = dynamic_cast<AdapterValue^>(adapterProperty->Attributes->GetAt(

[2015-05-08 04:29] zhuridartem commented on #10
We also noticed that existing DSB Background Service gets stopped when deploying another one from Visual Studio. Once deployed from Visual Studio, you can use iotstartup.exe to add the new BackgroundService as a headless startup task so it starts on next boot.

Using remote powershell session (http://ms-iot.github.io/content/win10/samples/PowerShell.htm), run "IotStartup add headless AdapterBackgr

[2015-05-08 16:10] charlehsin commented on #10
Thanks.... That works.

[2015-05-08 16:10] #10 closed

[2015-05-08 17:22] charlehsin opened #12 "AllJoyn DSB: BridgeRT codes"
I am sorry about this post. This is not really an "issue", but a question. However, I don't know where else to post this question. The question is:
I am going through BridgeRT codes that come with DSB template. What are the relations between these codes and Windows.Devices.AllJoyn namespace APIs and the original AllJoyn framework SDK for Windows?
Are BridgeRT codes using AllJoyn framework SDK?
Sin

[2015-05-08 21:59] charlehsin opened #14 "AllJoyn DSB: OpenZWave library ported to WinRT?"
Originally, OpenZWave library is a standard C/C++ library. Did Microsoft port the original OpenZWave library as a Static Library (C++/CX) to be used in UWP (Windows Runtime components)?
I am trying to figure out what tasks need to be done, if one wants to support other network protocol/framework for AllJoyn DSB. For example, if I want to expose 6LoWPAN devices to AllJoyn DSB, do I need to port the

[2015-05-11 08:25] Injac opened #15 "Source for the AllJoyn samples?"
I wonder why there are no project and source-files available for the AllJoyn samples. Will you add this code?

[2015-05-11 16:09] ooeygui commented on #14
OpenZWave was ported. The sources are available at the AllSeen git: https://git.allseenalliance.org/cgit/dsb.git.

We are using the DSB to wrap devices that are exposed by non-AllJoyn networks as virtual AllJoyn devices.  For 6LoWPAN the end-points are typically IPv6 addresses which is more of a transport than a virtualizable device.  One option would be to translate your 6LoWPAN ipv6 address into

[2015-05-11 16:09] #14 closed

[2015-05-11 16:10] ooeygui commented on #15
The source files are available in the AllSeen git -  https://git.allseenalliance.org/cgit/dsb.git. We will update the samples to make it more clear.

Hope that helps,
Lou

[2015-05-11 16:10] #15 closed

[2015-05-11 16:52] Injac commented on #15
Perfect :) Thanks Lou!

[2015-05-11 16:56] charlehsin commented on #14
Thanks for the reply. I have another question related to this.
I understand the idea of DSB. However, one can also use Windows.Devlices.AllJoyn to create a AllJoyn Producer and use the target device's SDK to hook up the device and the AllJoyn network. Why do we need a DSB, instead of using AllJoyn Producer?
Thanks,
Chih-fan

[2015-05-11 17:47] #2 closed

[2015-05-11 21:14] zhuridartem commented on #12
Overview of the BridgeRT at https://git.allseenalliance.org/cgit/dsb.git/plain/Docs/AllJoyn%20-%20Device%20System%20Bridge%20-%20Whitepaper%20v1.0.pdf

Overview of AllJoyn API surface for UWPs in Windows 10 at https://channel9.msdn.com/Blogs/Internet-of-Things-Blog/Step-By-Step-Building-AllJoyn-Universal-Windows-Apps-for-Windows-10-Public-Preview

Both the BridgeRT and Windows.Devices.AllJoyn use

[2015-05-11 21:17] zhuridartem commented on #6
Documentation at https://github.com/ms-iot/samples/blob/develop/AllJoyn/AllJoynDSBGuide/AllJoyn_DSB_GPIODevice_Sample_Tutorial_v1.0.pdf was updated with correction.

[2015-05-11 21:39] zhuridartem commented on #8
The template DeviceSystemBridgeTemplate.vsix file at https://github.com/ms-iot/samples/tree/develop/AllJoyn/AllJoynDSBGuide has been updated with the Assets fix.

[2015-05-11 21:51] charlehsin commented on #12
Thanks for the reply. I have another question related to this.
I understand the idea of DSB. However, in my understanding, one can also use Windows.Devlices.AllJoyn to create a AllJoyn Producer and use the target device's SDK to hook up the device and the AllJoyn network. Why do we need a DSB, instead of using AllJoyn Producer? Does DSB make the whole process easier, or/and does DSB provide other

[2015-05-12 01:23] zhuridartem commented on #12
The primary targets for the Device System Bridge are existing device networks. Our goal with DSB is to offer a cost efficient and quick method to bring existing devices to AllJoyn as virtual devices on the AllJoyn network through a pre-baked AllJoyn producer implementation (Bridge), and implementing calls to SDK hooks to support translating between AllJoyn concepts to target devices (Adapter). As

[2015-05-12 03:33] charlehsin commented on #12
Thanks.

[2015-05-12 03:33] #12 closed

[2015-05-12 06:59] endy66 commented on #11
Same Problem here. If i deploy the code to win10 preview pc, the MessageDialog works perfect. On Win IoT Core (RPI2), the MessageDialog does not appear.

[2015-05-12 17:39] ooeygui commented on #11
Hello, Thank you for the report. On the desktop, the Windows Shell provides dialog boxes and other user interface overlays. Windows 10 Core does not have a shell component, so the Maker's application needs to provide all user experience elements.

[2015-05-12 17:39] #11 closed

[2015-05-12 20:27] charlehsin opened #16 "AllJoyn Explorer: slow to show info after clicking an adapter or a device"
I am using Win 10 Pro Build 10074 64 bit and AllJoyn Explorer 1.0.0.0.
I have AllJoyn DSB (dummy virtual device and/or ZWave sample) running, on the same Win 10 Pro build. When I open AllJoyn Explorer, it finds the adapters and devices pretty fast. However, when I click the adapter or the device, it takes "A LONG TIME" for the AllJoyn Explorer to respond to get to the target information page.
Is t

[2015-05-14 02:59] parnz commented on #11
That means I have to create my custom MessageBox class myself right?

Thanks.

[2015-05-14 23:38] charlehsin commented on #16
The behavior is not consistent.  Sometimes, I am getting this. Sometimes, I am not. So I am closing my own issue now.

[2015-05-14 23:38] #16 closed

[2015-05-14 23:42] charlehsin opened #17 "AllJoyn\ZWaveAdapter\ZWaveAdapterTestApp failed to run."
Hi, I am trying to do a local debug run of ZWaveAdapterTestApp on my Win 10 PC. It failed at Line 376 of ZWaveAdapterTest.cpp file, when it calls
status = this->adapter->GetConfiguration(&configData);

The error is:
WinRT information: An item cannot be found at the specified path (C:\...........\localState\options.xml)...

Is the TestApp project missing some files?

A more general question: the do

[2015-05-19 18:57] zhuridartem commented on #17
There are three application projects with the ZWaveAdapter sample.
1. ZWaveBackgroundService - a background service app that initializes bridge and adapter from a startup task. On Windows 10 IOT Core a startup task can be registered for automatic start as a background service type application. Used for deploying and debugging on Windows 10 IOT Core.

2. AdapterHostApp - simple app that initializes

[2015-05-19 21:11] ooeygui commented on #6
Wrong bug

[2015-05-19 22:18] ooeygui commented on #17
Closing per conversation with @zhuridartem

[2015-05-19 22:18] #17 closed

[2015-05-19 22:18] ooeygui commented on #6
This one was correctly closed; per conversation with @zhuridartem

[2015-05-19 22:18] #6 closed

[2015-05-20 22:50] charlehsin opened #18 "When to call AllJoyn AdapterLib::ZWaveAdapter::StartDeviceDiscovery()?"
If my understanding is correct, AdapterLib::ZWaveAdapter::StartDeviceDiscovery() is only called in the following 2 situations:
1) When the hosting app/service is starting up.
2) When the ZWave SDK notifies Type_DriverRemoved/Failed.

What this means is that current DSB implementation (or at least this sample code) does not support "plug-and-play" type device addition. If a new ZWave device is adde

[2015-05-31 13:04] tscholze opened #21 "Unnecessary value assignment in BlinkyWebServerExample - WebServerTask.cs#113"
### Issue
There is maybe an unnecessary value assignment at the BlinkyWebServerExample.

### Source
[code]
### Links
* [Related file on Github](https://github.com/ms-iot/samples/blob/develop/App2App%20WebServer/WebServerApp/WebServerTask/BackgroundTask.cs)
* [Related MSDN forum post](https://social.msdn.microsoft.com/Forums/en-US/3e102a4f-156e-4198-b21c-c87066306712/blinky-web-server-sample-code?f

[2015-05-31 18:48] aschabus opened #22 "Link to diagramm or list of used sensors would be very helpfull"
I think this would be very helpfull, especially for beginners.
Greetings
Andi

[2015-06-01 16:31] jklemmack commented on #21
It is taking the variable passed in to the constructor and assigning to a private variable of the same name that's a class member.  It could be rewritten as

    private AppServiceConnection appServiceConnection;

    public HttpServer(int serverPort, AppServiceConnection randomVariable)
     {
            listener = new StreamSocketListener();
            port = serverPort;
            this.appSe

[2015-06-01 20:39] zhuridartem commented on #18
Hello Chih-fan,

There are two plug and play stories here:
1.	Plug in Z-stick dongle.
2.	Pair new Z-Wave device with already running dongle

The first story is supported. When StartDeviceDiscovery( ) is called, it asks the OpenZwave stack to open the serial port. OpenZWave will keep on retrying for ‘DriverMaxAttempts’ (specified in Options.xml, default = 0), until it is able to open the port. If D

[2015-06-02 05:17] #18 closed

[2015-06-02 06:14] tscholze commented on #21
Ah, I see.
I would recommand that little refactoring. It would help beginners to understand the source without the question in mind "why does vs mark this yellow".

[2015-06-05 18:29] bfjelds opened #25 "BlinkyWebServer is failing because the appService connection is empty"
Original issue found by BasVeenendaal in pull request (https://github.com/ms-iot/samples/pull/24):

"There is one line of code:
This part should contain the information for appService.AppServiceConnection: var appService = taskInstance.TriggerDetails as AppServiceTriggerDetails;
The appService.AppServiceConnection is only empty buth the appService contains the values needed. So that’s how I came t

[2015-06-05 22:19] charlehsin opened #26 "AllJoyn DSB Adapter configuration and security"
In my understanding, AdapterConfig::SetConfig() will overwrite "options.xml", that is used by OpenZWave SDK.  I have the following 2 questions:
1. After SetConfig(), the current implementation only updates “options.xml”. Shouldn’t the codes reset or restart the AllJoyn network to use the new configuration? I didn't see this part implemented in the codes.
2. This options.xml file has a “NetworkKey”

[2015-06-06 14:55] PatGet commented on #25
Renaming the private AppServiceConnection var of the HttpServer class fixes this scope issue and the resulting null issue.

[2015-06-09 16:48] muziekklas opened #28 "Cannot deploy app to Raspberry Pi 2 (win10 IOT Core)"
In Visual Studio 2015 RC (Windows 10 Preview) an error occures while deploying:
Error : DEP0800 : The required framework "C:\Program Files\Microsoft SDKs\Windows Kits\10\ExtensionSDKs\Microsoft.NET.CoreRuntime\1.0\.\AppX\ARM\Microsoft.NET.CoreRuntime.1.0.appx" failed to install.

[2015-06-09 17:28] bfjelds commented on #28
I'm sorry that the samples aren't working for you!  To help us track down the problem and fix it, can you please specify which sample you are seeing this error for?

[2015-06-09 17:48] muziekklas commented on #28
Blinky (normal one)
I also followed steps on http://ms-iot.github.io/content/en-US/win10/samples/Blinky.htm but mainly used the code from the repo

[2015-06-10 12:26] muziekklas commented on #28
I fixed it by reflashing the SD card. I assume it was not correctly flashed the first time because I see more Processes on the webUI

[2015-06-10 12:26] #28 closed

[2015-06-11 17:13] charlehsin opened #29 "AllJoyn DSB configuration and CSP and MDM provider"
Hi, based on the Microsoft's "AllJoyn -DSB whitepaper v1.0.pdf", it seems that System Center or InTune can use "MDM WMI bridge provider" -> AllJoyn Management "Configuration Service Provider" -> AllJoyn bus "com.microsoft.alljoynmanagement.config" to control the AllJoyn - DSB configuration.

Is this feature already implemented in the current release DSB sample codes?

I cannot find the correspondi

[2015-06-11 23:15] mwgladding commented on #29
Hi Chih-fan. The CSP will be available as part of the IoT Core operating system, and not in the DSB code. We should have documentation available for the CSP in the next few weeks. Please note that we will be working with both first and third party MDM providers to build MDM management solutions for IoT Core. The timeline for MDM support for IoT Core has not been finalized at this point in time.

[2015-06-11 23:35] #29 closed

[2015-06-20 00:58] zhuridartem commented on #26
Hello Chih-fan Hsin,

1)	The team made a design decision that we could not know in advance if an adapter change would require a restart or not.  We decided it was up to the adapter writer and they could modify the bridge if desired….or simply require a system reboot. The bridge config update should initiate a bridge restart.

2)	We do not support Secure inclusion of devices. It has to be done thro

[2015-06-21 21:15] elmerm opened #30 "Any camera samples coming soon?"
I'd like to interact with the Raspberry Pi camera but I don't see anything in the framework for this. Is there something I'm missing? Planning to release any examples soon on this?

If nothing available, would appreciate some info on how to get the Python library (https://github.com/waveform80/picamera) working with Windows 10. Thanks.

[2015-06-21 23:12] ooeygui commented on #30
Hi @elmerm,
We do not have drivers planned for the pi camera interface. We will however be supporting USB camera in a coming release. With a USB camera, you will be able to use the UWP Camera APIs to consume camera information. With that release, we will also have camera samples. I do not have an ETA for that release.

[2015-06-21 23:12] #30 closed

[2015-06-22 18:45] elmerm commented on #30
That's a bummer. It's a shame that a native Raspberry Pi component like the camera is not going to be supported.

[2015-06-22 18:48] ooeygui commented on #30
Hi @elmerm,
I will follow up and see what can be done.

[2015-06-22 22:49] elmerm commented on #30
Thanks @ooeygui.

[2015-07-01 20:21] #26 closed

[2015-07-02 20:40] #25 closed

[2015-07-02 20:41] bfjelds commented on #21
Agreed.  We have updated the sample to clarify this.  Thanks!

[2015-07-02 20:41] #21 closed

[2015-07-03 16:55] tig4647 opened #33 "Vb Samples"
I am having a terrible time attempting to convert the headless example (blinky) to vb.net . Is there any way to provide one example for vb that we can push from? For me, i have no plans to utilize the WPF portion and want to be able to use headless but just cannot seem to set it up correctly.

[2015-07-05 17:28] tscholze commented on #21
No problem. I'm glad I could help. :)

[2015-07-07 15:47] jessekaplan commented on #33
If you build a "Universal Windows" Blank App (XAML) you can easily build a UI app for IoT Core. We'll have a few headless VB samples available by RTM as well.

[2015-08-05 17:29] munyirik commented on #1
Hi @tdicola, you may know this already but just in case, http://github.com/ms-iot/python is public now. And the code for wingpio, winspi, and wini2c is shared there.

[2015-08-05 17:35] #1 closed

[2015-08-10 03:29] reneherrero opened #40 "I2C Compass sample"
Hey,

First off, thanks for the samples!  Very helpful...

Time to give something back: an I2C Compass sample that uses the Honeywell HMC5883L magnetometer IC.  I created the project from scratch with VS 2015 RTM.

I´m more of a TFS guy and I'm not sure how to submit the code over to you guys, so here´s the link from a repo I created: https://github.com/reneherrero/Windows10-IoT-Samples/tree/maste

[2015-08-10 15:11] bfjelds commented on #40
Thank you!  That is awesome!!!

We can work at pulling your project into our samples if you'd like, or if you want to better understand how to do it yourself (the benefit there is that you would get the credit for your contribution!!):  http://ms-iot.github.io/content/en-US/Contribute.htm

Let me know and I will either start migrating your project to our repo or start watching for your pull reques

[2015-08-10 16:06] reneherrero commented on #40
Thank for the link on hot to contribute, I'll figure that out tonight.  I think keeping things synced up will be easier that way.

Note that the IC has many more capabilities that I haven't yet explored (self-test, adjusting the gain to increase accuracy, ...).  Also, the algorithm that converts the 16-bit 2’s compliment hex values returned by the IC to X, Y and Z values (which in turn are convert

[2015-08-10 16:17] bfjelds commented on #40
I haven't done any tilt compensating, but I found this on stackoverflow.com:  http://stackoverflow.com/questions/24639529/tilted-magnetometer-output-pitch-and-roll-tilt-compensation-i-am-lost

Hope that helps!

[2015-08-12 11:25] braegelno5 opened #44 "md files"
Is it possible to have in each project a readme.md with a short project descriptions and dependencies?
:)Torsten

[2015-08-12 14:11] reneherrero commented on #44
Now you’re just being picky!  :)

Will do…

From: Torsten Schuster [mailto:notifications@github.com]
Sent: Wednesday, August 12, 2015 6:25 AM
To: ms-iot/samples <samples@noreply.github.com>
Subject: [samples] md files (#44)

Is it possible to have in each project a readme.md with a short project descriptions and dependencies?
:)Torsten

—
Reply to this email directly or view it on GitHub <https://

[2015-08-12 15:36] #40 closed, assigned to nobody

[2015-08-12 15:39] bfjelds commented on #44
Our strategy has been to create in depth descriptions on our documentation site (look under the Samples tab):

http://ms-iot.github.io/content/en-US/win10/StartCoding.htm

Please take a look!

[2015-08-12 15:58] braegelno5 commented on #44
Thanks i got it. If this link is not in the Main MD file it would be helpfull to place them there also, i think.

[2015-08-15 19:31] ericleigh007 opened #49 "should remove the project.lock.json files. They are better re-built when the user re-builds their solution"
Hello, looks like great stuff here.  Looking forward to more functionality in the OS and samples.

Having the project.lock.json files in the repository is not the correct approach, according to the posts I've read in the Visual Studio forum.

As a minimum workaround, users should be told to remove those files from their local repositories if they clone this one.

-thanks
-e

[2015-08-17 15:00] bfjelds commented on #49
Thanks for the feedback!  We'll talk to the Visual Studio team and look into fixing this correctly.

[2015-08-17 15:01] bfjelds commented on #44
That makes a lot of sense!  We'll look into getting the link into our MD files.

[2015-08-17 15:27] bfjelds commented on #49
https://github.com/ms-iot/samples/pull/50

[2015-08-25 16:08] Dids opened #58 "Display sleeping?"
I couldn't find anything regarding display sleeping, and as long as I'm running any of my apps the display doesn't sleep. I think I recall it sleeping with the IoTCoreDefaultApp, though.

Any chance of a code sample for manually setting the display to sleep/standby?

[2015-08-26 01:13] rachitb777 commented on #58
You can use the powercfg tool to set display timeout property. You can run the following command from PS/SSH
powercfg -x -monitor-timeout-ac 1
IoTCoreDefaultApp doesn't have any code for display standby.

[2015-08-26 08:20] Dids commented on #58
Thank you, that does indeed work! I had no idea that something like the powercfg tool was also available on IoT. :)

[2015-08-26 08:20] #58 closed, assigned to nobody

[2015-08-26 13:22] Dids commented on #58
I don't suppose there's a way to hook up an event handler to detect standby/wakeup?

I'm essentially trying to trigger a pin on my Rasberry Pi, which will turn my display off (or on).

I'm currently using a countdown timer to do so, but I couldn't find a way to have a global tap/mouse handler for the entire app, so I'm manually triggering the pin when any buttons in my app are pressed.

[2015-08-27 19:22] rachitb777 commented on #58
Thanks for the feedback. We are looking into adding APIs for power-management in our future releases.

[2015-08-27 21:42] piwi1263 opened #60 "Serial sample -> No keyboard input on RPI2"
Don't know if more people are experiencing this behavior, but using the serial sample I succeeded in using an USB to UART Bridge Controller based upon CP2102 and send/receive some bytes forth and back using xbees but I couldn't type in text in the write box when running the app on an RPI2 although the track pad mouse does work. Keyboard used is a Logitech K400r.

[2015-08-28 16:10] Sumahitha commented on #60
Thank you for reporting this problem. We are currently investigating.

[2015-08-29 03:26] ianlee74 opened #61 "AllJoyn Explorer doesn't complete introspection of a local producer."
If I deploy a producer to a Pi, then I am able to inspect it and call its methods via AllJoyn Explorer.  However, if the same producer is running on the same local machine then Explorer sees the producer fine but when trying to inspect its interfaces it times out or hangs.  AllJoyn Explorer is a great tool but because of this, it has limited use for me in demos.  Please fix or post the source code

[2015-08-31 17:56] zhuridartem commented on #61
Hello Ian,

For Windows Runtime apps, network communications using an IP loopback address for interprocess communication is restricted. This applies between two apps running on the same machine, but does not apply if running on different machines or within the same process. You can learn more about the loopback restrictions here: https://msdn.microsoft.com/en-us/library/windows/apps/Hh780593.aspx

[2015-09-02 19:32] ianlee74 commented on #61
Artem,

Thank you for the explanation. I was able to get it working by enabling the loopback exemption for the AllJoyn Explorer application.  Unfortunately, this was not well documented in the manual and makes an assumption that someone already knows the package ID of that application.  I worked out a process that is easier to follow.  You may want to update the manual.
1. Start AllJoyn Explorer.

[2015-09-02 19:32] #61 closed, assigned to nobody

[2015-09-03 17:27] jpoon opened #63 "DigitalSignageUAP - Does not work on smaller screens"
App not coded for different screen sizes; gets cut off on 7" display.

[2015-09-03 17:36] jpoon opened #64 "Zip files of source code in the sample repo"
https://github.com/ms-iot/samples/blob/develop/AllJoyn/AllJoynZWaveDemo/ZWaveAdapter.zip
https://github.com/ms-iot/samples/blob/develop/AllJoyn/AlljoynMockAdapter/MockAdapter.zip

These are zips of source code. Please expand these zips and put the source codes straight into git?

[2015-09-03 17:52] TheUltimateC0der opened #65 "Windows Service for IoT ?"
Is it possible to write a Service for the RPI 2 ? We want to automatically update our application from our repositorys.

[2015-09-03 19:23] bfjelds commented on #63
Thank you for raising this issue!  We will look into a fix for this.

[2015-09-03 22:06] TorstenStein commented on #64
The zip files are provided to contain only the code needed for the sample. You can find the complete open source tree here: https://git.allseenalliance.org/cgit/dsb.git

[2015-09-03 23:35] jpoon commented on #64
It's strange to have a zip file of source code within a repository as you prevents browse/search/maintain history of the code through git and GitHub.

As a suggestion, as the dsb.git is a git repo, add these as a git submodule?

[2015-09-04 21:50] zhuridartem commented on #64
Hello, and thanks for the feedback. Doing the cross reference as git submodules is a good idea. We did not get around to this yet.

The zip files do come from another git repo that contains more than the samples mentioned. Each zip here is made to be self-contained. We will evaluate the git submodules option.

[2015-09-04 22:24] bfjelds commented on #65
Servicing is a scenario that we are thinking a lot about currently.  It is definitely on our radar.  I don't have an answer for you right now, but will work at getting an answer for you ASAP.

[2015-09-06 01:03] tig4647 commented on #33
Thanks for adding, also the template helps for VS 2015

[2015-09-06 01:03] #33 closed

[2015-09-09 08:01] JohnMasen opened #67 "C# DSB Adapter will create a device with 0 interfaces when you add 2 AdapterValue to AdapterDevice.Attributes property"
I modified the DSB C# template (Adapter.cs) as following:

[code]

it seems adding more than one AdapterValue will cause the device has 0 interfaces.

![1](https://cloud.githubusercontent.com/assets/7631912/9756318/d9a86934-570b-11e5-8498-eceec963b531.png)
![2](https://cloud.githubusercontent.com/assets/7631912/9756322/dcd08a92-570b-11e5-9ee4-50f24a0f8008.png)

[2015-09-09 08:07] JohnMasen commented on #65
Background App(Aka: headless app) may be an option. it has no UI and can start automatically with OS.
ps: you need use IoTStartup command to set your headless app run at startup.

[2015-09-09 10:01] StepMan91 commented on #67
Thank you !  very good screenshot

[2015-09-10 21:23] zhuridartem commented on #67
Hi Folks! I've reproduced this issue, thank you for reporting this. The screenshots are great!

What is happening is when you add a new AdapterValue to the property Attributes, the generated AllJoyn interface (which is based on the Property name and Attributes content) changes. But the interface name is the same.

So, if you have some application like AllJoyn Explorer that has seen the other versi

[2015-09-11 02:00] JohnMasen commented on #67
thanks guys, this answered my question. I can continue work with my MQTT_DSB now :)

[2015-09-11 17:15] dotMorten opened #70 "IoTCoreDefaultApp is unusable on small IoT screens"
I have an IoT LCD screen at the typical 800x480 resolution. At this resolution the default app is pretty much unusable, and several settings aren't possible because you just can't scroll to the content. The default app doesn't adapt it's layout very well at all to small screens.

[2015-09-15 23:01] mms- commented on #65
Common scenarios for a Windows Service or a Background App are 'is the app running and healthy if not restart' and 'update the app'. Both of these should be handled by the platform.

That is Windows IoT could (does?) have an update mechanism, something like ClickOnce (but reliable) or APPX or whatever. It should also have a durability feature, so an ability to set an app as foreground app, meaning

[2015-09-16 22:10] sebagomez opened #72 "Working with MCP3008"
In your `convertToInt` function of the [TempSensor sample](../blob/develop/TempSensor/CS/MainPage.xaml.cs) file, you have a comment that reads the following:

[code]

and actually, I read the MCP3008 is 10 bits... totally noob question here, but what should I use with the MCP3008? Is it a bug in the documentation or I just misunderstood what I've read so far?

Thanks

[2015-09-17 07:54] TychosNose commented on #72
Thank you for pointing out this bug. You are correct in that the MCP3008 is 10-bits.
The comment
     `/*Uncomment if you are using mcp3208/3008 which is 12 bits output */`
 should be
     `/*Uncomment if you are using mcp3204/3208 which is 12 bits output */`

Unfortunately, there doesn’t appear to be code for the MCP3008 in this sample as is. But, it isn't much to make the code work with the MCP3

[2015-09-17 13:56] sebagomez commented on #72
Cool thanks. Will let you know how it went

[2015-09-17 14:27] bfjelds commented on #65
Thank you for the feedback!

When an app is specified as a startup app (it has been configured to be a foreground app that is always running and visible), the platform is ensuring that this app is always running.  You can see how to configure the Startup App in the 'Set HelloWorld as the Startup App' section of [here](http://ms-iot.github.io/content/en-US/win10/samples/HelloWorld.htm).

We are wor

[2015-09-17 23:37] mms- commented on #30
CPU usage is very high when let say a LifeCam Studio is connected to a Raspberry Pi. At 1080p not much room is left for other computation. This is because the CPU is not as powerful as a normal PC, however is there room for optimization?

Perhaps the driver model on Windows can be optimized to support a very low fps, i.e. 1 or 2 fps but full resolution? For some applications that will suffice. Oth

[2015-09-17 23:37] mms- commented on #65
Good to know that always running check is already in there. I haven't had time to play around with the start-up functionality yet.

One un-related issue that we ran in to is the high CPU usage on Raspberry Pi with webcams : https://github.com/ms-iot/samples/issues/30

[2015-09-18 14:56] bfjelds commented on #70
Thank you for creating a fix for this!

[2015-09-18 14:56] #70 closed, assigned to nobody

[2015-09-18 15:01] bfjelds commented on #30
We are still working on implementing the graphics driver for the Raspberry Pi.  This results in many GPU operations being handled by software.  You are seeing the results of that first hand.  Be assured that we are well aware of this and working to fix it!

[2015-09-18 15:01] bfjelds commented on #65
Regarding the CPU usage, we are still working on implementing the graphics driver for the Raspberry Pi. This results in many GPU operations being handled by software. You are seeing the results of that first hand. Be assured that we are well aware of this and working to fix it!

[2015-09-23 15:31] ricl opened #73 "Memory leak in IoTCoreDefaultApp"
![iotcoredeafaultapp](https://cloud.githubusercontent.com/assets/7289122/10050152/d3cbb9be-6212-11e5-8f04-c602bce05e66.png)

![iotcoredeafaultapp2](https://cloud.githubusercontent.com/assets/7289122/10050572/ec7a0ea0-6214-11e5-96bf-c3524f2231ad.png)

![iotcoredeafaultapp3](https://cloud.githubusercontent.com/assets/7289122/10050718/9e3d8afe-6215-11e5-8752-76a576be8aae.png)

Running IoTCoreDefaultA

[2015-09-23 16:01] bfjelds commented on #73
Thank you for finding this and bringing it to our attention!  We'll work on fixing this ASAP.

[2015-09-24 13:57] ricl commented on #73
It would appear that both

[code]

and

[code]

ALWAYS call the constructor on the Page referenced. This is regardless as to whether the Page is in the BackStack or not.

[2015-09-24 18:02] ricl opened #74 "IoTCoreDefaultApp does not deallocate allocated timer events"
All the Pages with timers on them should change their code to correctly hook-up/un-hook the timer events.

Suggested code

[code]

[2015-09-24 18:18] ricl commented on #63
None of the IoT sample apps run well/at all on 800*480 screens (which is a common screen size for the Pi).

[2015-09-24 19:17] SlavyMihov commented on #63
This issue has been brought to the attention of the app contributors and will be addressed.

[2015-09-25 14:39] PatGet opened #78 "IoTCoreDefaultApp Language Setting does not change input locale"
IoTCoreDefaultApp Language Setting does not change input locale. For example the second part of the OOB Expirience is WIFI Network Password. All the UI there is presented in German language to me but I have to type in the Password as if i had an english Keyboard.

[2015-09-26 19:29] TheUltimateC0der commented on #65
Hey guys,

thank you for your fast reply.

@JohnMasen : Background Apps, are not suitable for my needs, i have to access the filesystem, in order to update my application. As far as i know, you cannot access the filesystem as from a normal UWP application. If i missed something, please point me to the right direction :)

@mms- : Good mention with the ClickOnce. That would be very handy to use. Ano

[2015-09-28 21:53] vtni opened #82 "433 Mhz sample"
Hi guys,
a sample for receiving and sending 433 Mhz codes would be nice!

[2015-10-01 10:41] ricl commented on #73
SOLVED:

Add

...
            this.InitializeComponent();
            this.NavigationCacheMode = NavigationCacheMode.Enabled;
...

to all the pages to allow for correct BackStack implementation on IoT Core.

Constriuctors are then not called (unless needed) on .Navigate(...) or .GoBack()

[2015-10-01 21:14] bfjelds commented on #73
Thank you for sorting this out!  We will work to update our samples accordingly.

[2015-10-06 16:40] sely2k opened #95 "half font on ssd1306 128x32"
hi
i've tried to use the library "spi display" with my oled ssd1306 128x32 (not 128x64) and not work
i've modified this line

[code]

but this library don't work with my display
(see the photo) http://1drv.ms/1OjAP6p
all the font are "half"

can you help me?

[2015-10-07 01:47] dankuo commented on #95
Hello,

Try using these values instead:

[code]

You were correct in changing SCREEN_HEIGHT_PX to 32. However SCREEN_HEIGHT_PAGES should remain at its original value. This calculates the number of 8-pixel tall pages on the screen, so we continue to divide by 8. Also since your display is only 32 pixels tall, you only get lines 0 and 1 for text. You'll need to comment out the code where the sample

[2015-10-07 20:46] sely2k commented on #95
unfortunatly still not work

[2015-10-08 02:22] dankuo commented on #95
What are you seeing on the screen now?

[2015-10-08 05:57] sely2k commented on #95
this nigth i've solve a lot of problem :) asap i'll fork the project and i'll make a pull request!

[2015-10-09 13:47] jmservera opened #105 "GPIO OneWire timeout with DHT22"
I have several DHT22 sensors and tried with different rpi2 in OS Version 10.010531.0 and also tried to change the wiring with a pullup and with different GPIOs too, but the code doesn't read the sensor, I always get timeout, seems that it doesn't have precission enough for the ms delays.

[2015-10-09 16:00] jessekaplan commented on #105
The DHT22 sensor has timing requirements that require a sequence of GPIO operations that are just on the border of what can be accomplished with the current product. It's not so much that there isn't enough precision, but rather that the operations take too long and so you miss the window. It's actually _right_ on the border of what that version of IoT Core supports. You can look at the code in th

[2015-10-12 12:58] #95 closed, assigned to nobody

[2015-10-13 22:46] bfjelds commented on #73
This has been addressed with https://github.com/ms-iot/samples/pull/98

[2015-10-13 22:46] #73 closed, assigned to nobody

[2015-10-13 22:46] bfjelds commented on #74
Thank you!  This has been addressed with https://github.com/ms-iot/samples/pull/98

[2015-10-13 22:46] #74 closed, assigned to nobody

[2015-10-13 23:20] dotMorten commented on #64
This pattern is extremely annoying and prevents us from seeing the history here, bloats the git database and the download. Also the AllJoynExplorer app doesn't even have source code, but just the appx.
If these aren't samples, but copies from elsewhere, what are they doing here in the sample repo?

This isn't how you do versioned source control:
![image](https://cloud.githubusercontent.com/assets/

[2015-10-13 23:39] dotMorten opened #112 "AllJoyn samples broken"
ZWaveAdapter is not compiling now:

[code]

Latest AllJoynExplorer explorer app won't deploy when executing powershell script:

[code]

Now if we only had source code instead of zips for the first one, we could see the history and fix it, and if we had actually source code for the second one, we could just F5-deploy from Visual Studio, but alas.

[2015-10-13 23:42] dotMorten commented on #112
@zhuridartem

[2015-10-14 01:09] zhuridartem commented on #112
Hi Morten. Thank you for trying out these new bits, and we appreciate the feedback.

Our initial thinking was to make the samples fully self-contained, thus the .zip files. We have heard of making the AllJoyn samples as source and were pointed to use the git submodule to reference other repositories. This makes sense, we have not gotten to refactoring these sames to work with that.

Sorry to hear

[2015-10-14 18:28] karsunky opened #114 "AllJoyn samples with Z-Stick Gen5"
Anyone using Gen5 Z-wave hardware successfully?

[2015-10-16 17:59] zhuridartem commented on #114
We have not tried yet. Are you having problems with it?

[2015-10-17 19:14] dotMorten opened #117 "Add screensaver to DefaultApp"
When the default app runs for a long time, it has the risk of burning itself into the LCDs we connect to the devices.
It would be good to have a screensaver for the app to prevent this - I already have a sample done (and will be posting on hackster.io soon), so I would be happy to contribute this to the app, but before doing the work want to know if this is something that you agree on would be a g

[2015-10-19 06:19] TheUltimateC0der commented on #65
Hey guys. Any updates here ?

[2015-10-22 17:35] bfjelds commented on #65
We created a simple C++ service based on the C++ Console Application template that can be used to create a service for IoT Core:

https://github.com/ms-iot/samples/pull/119

Hope this helps!!

[2015-10-24 13:00] ricl opened #127 "BlinkyApp needs updateing to reflect the new GPIO pins available in 10556"
The code at

DriverSamples/consoleapp/BlinkyApp/BlinkyApp/BlinkyApp.cpp

does not reflect the available GPIO pins in 10556.

[2015-10-25 13:41] ricl opened #128 "Deployment of Win32 executables to c:\deploy"
It may be better to change this to something like

c:\PROGRAMS\MyAppsDir\MyProject

for future expansion.

(The PROGRAMS directory is because that's where they always were and, look, no spaces!).

and a further question for the Visual Studio team I suppose

Why does the default project when choosing IoT  Core Console Win32 C++ App required so much manual intervention in the Properties: Debugging P

[2015-10-26 09:48] ricl opened #129 "Python Blinky docs wrong"
Some (all?) of the Python example projects do not have a reference to _wingpio.pyd built in although the docs say that they do.

Either a ref needs adding to the projects or the docs need changing.

[2015-10-26 14:42] bfjelds commented on #128
Thanks for the feedback!  To be honest, when we put the Console application sample together, I don't think we gave a tremendous amount of thought as to the destination directory (especially given that it is completely configurable).  We will look into what the most appropriate location is for user scenarios (it might be more practical to aim at windows\system32?) and where we can access (given tha

[2015-10-26 14:58] ricl commented on #128
:-) The actual destination directory is of course up for grabs. The only
reasons for suggesting /PROGRAMS/... are
1. It's where they always were back in the day....
2. It's a path without spaces in its name (banish the risk of spaces now!)
3. It works currently in 10240 and 10556 with both Admin and User privileges
4. It provides a useful point at which to spawn the various sub directories
   that

[2015-10-26 15:01] ricl commented on #128
1. It means we don't need to step on the /Windows directory which might
   muddy things

On Mon, Oct 26, 2015 at 2:58 PM, Richard Linsley-Hood <
richardlinsleyhood@gmail.com> wrote:

[2015-10-26 15:36] bfjelds commented on #128
That's great insight and I've added all of that to our bug tracking this!

[2015-10-26 17:16] ricl commented on #128
Or create a brand new directory from the root and move into a new world.
c:\IoTWin32{Manufacturer}{MyProject} perhaps.

On Mon, Oct 26, 2015 at 3:36 PM, Brian Fjeldstad notifications@github.com
wrote:

[2015-10-27 20:41] housten opened #132 "DigitalSignageUAP will not deploy to Raspberry Pi"
The döde compiles ok but I can't deploy it. I have set VS to ARM and Release and I was able to deploy the hello World APP.

This is my error:

Severity    Code    Description Project File    Line
Error       Error : DEP0800 : The required framework "C:\Program Files (x86)\Microsoft SDKs\Windows Kits\10\ExtensionSDKs\Microsoft.Midi.GmDls\10.0.10240.0.\Appx\Neutral\MidiVoices.appx" failed to install

[2015-10-28 09:52] tomkuijsten opened #133 "Is it possible to view a pdf in the browser?"
I tried opening a pdf with the IoTBrowser sample, which won't work. Is it possible?

[2015-10-28 20:18] bfjelds commented on #133
The WebView does not support displaying PDF files.  Here is a summary of WebView info:  http://blogs.msdn.com/b/wsdevsol/archive/2014/04/03/ten-things-you-need-to-know-about-webview-_2d00_-an-update-for-windows-8.1.aspx.

There is a small mention of Windows.Data.Pdf which may work (I don't believe that anyone has tried that API yet on IoT Core).

[2015-10-29 01:26] zhuridartem commented on #112
Update: we have reproduced the ZWaveAdapter not building. The issue is with the OpenZWave project's pre-build step that generates the winversion.cpp. To fix, in OpenZWave.vcxproj, please add missing quotes around $(ProjectDir)....\windows\GIT-VS-VERSION-GEN.bat.

E.g.
    <PreBuildEvent>
      <Command>del ....\windows\winversion.cpp
CALL "$(ProjectDir)....\windows\GIT-VS-VERSION-GEN.bat" "$(Proje

[2015-10-29 15:03] tomkuijsten commented on #133
Thanks for the great tip!

Got it working on the emulator, can't test yet on the pi, will do that soon but I have no reasons to believe it won't work.

[code]

[2015-10-29 19:53] santmu30 opened #135 "SerialPort USB Object reference not set"
I am trying to find a solution to the Known Issue Object Reference not Set to an instance of an object when the usb is connected for the first time, I know that if I disconect the usb and reconnect, the problem is gone, but my enviroment is that the USB will be always connected and I need an unattended enviroment, so Please could you help me find a solution for it? i was trying to disable the USB

[2015-10-30 05:39] tomkuijsten commented on #133
Just tested it on a Raspberry Pi II and it works like a charm.

[2015-10-31 23:10] karsunky commented on #112
Just to be clear for others:

Within the OpenZWave.vcxproj file there are several instances of this line:

CALL $(ProjectDir)....\windows\GIT-VS-VERSION-GEN.bat "$(ProjectDir)\" "....\windows\winversion.cpp"

which will need to be changed to this (add quotes around first path):

CALL "$(ProjectDir)....\windows\GIT-VS-VERSION-GEN.bat" "$(ProjectDir)\" "....\windows\winversion.cpp"

[2015-11-01 00:32] karsunky commented on #114
Hardware issue: When running AllJoyn Explorer I only see the zwave bridge (minJon - zwave bridge)  and the Pi (minJon). I currently have 2x Z-wave appliance modules and 1x Z-wave multisensor plugged in and paired - none displayed in AllJoyn explorer

Note: The tutorial shows different project names than what is provided in the sample. I'm assuming tutorial:ZwaveBackgroundService = samples:Headless

[2015-11-02 08:40] mms- commented on #65
Will try the C++ service soon. What is the recommended way to run C# code within that? Or can the service also be C# based without loss of functionality?

[2015-11-03 18:19] grahamehorner opened #138 "open source DefaultApp"
open source the DefaultApp so developers can extend/customise the experience including extending the web pages for remote management.

[2015-11-03 18:50] piwi1263 commented on #138
Do you mean this https://github.com/ms-iot/samples/tree/develop/IoTCoreDefaultApp ?

[2015-11-03 18:54] grahamehorner commented on #138
doh! I feel really stupid now! yes that is the DefaultApp   Thanx for pointing me in the right direction.

[2015-11-04 01:18] grahamehorner commented on #138
I'm looking for the source code for the web management page; but can't seem to locate this? @piwi123 any pointers greatly appreciated.

[2015-11-06 11:29] grahamehorner opened #146 "DefaultApp - Network Information"
The Network Information ListView layout is not good when IPv6 is enabled on network interfaces; and causes a wrap around layout issues.

[2015-11-06 15:36] bfjelds commented on #146
Thanks for finding this issue!  We will look into a fix for this ASAP.

[2015-11-06 16:28] grahamehorner opened #147 "DefaultApp - Date Time"
The DefaultApp is shows the Raspberry PI date time; but the Raspberry PI has no RTC; therefor the DefaultApp or Windows10 IoT core should look to set the date time using a NTP service at start-up

similar to Windows10 mobile/desktop date time settings.

[2015-11-06 23:36] ooeygui commented on #22
We now have a hardware compatibility list
http://ms-iot.github.io/content/en-US/win10/SupportedInterfaces.htm

[2015-11-06 23:36] #22 closed

[2015-11-06 23:42] ooeygui commented on #49
These were remove in pull 50

[2015-11-06 23:42] #49 closed, assigned to bfjelds

[2015-11-06 23:48] ooeygui commented on #64
@zhuridartem is working on a solution for this.

[2015-11-06 23:54] ooeygui commented on #67
Closing the issue here while we fix the issue in Alljoyn Explorer.
Thanks for reporting!

[2015-11-06 23:54] #67 closed, assigned to nobody

[2015-11-06 23:56] ooeygui commented on #72
This has been captured in the sample. Thanks for reporting!

[2015-11-06 23:56] #72 closed, assigned to nobody

[2015-11-07 00:07] ooeygui commented on #133
Wow! Thanks for the report and closing the loop.

[2015-11-07 00:07] #133 closed, assigned to nobody

[2015-11-07 00:09] ooeygui commented on #138
Thank you for the request. The Web interface cannot be open sourced at this time.

[2015-11-07 00:09] #138 closed, assigned to nobody

[2015-11-08 09:37] Mitwpgm opened #149 "Can't build BluetoothGatt sample"
![cantbuildsample](https://cloud.githubusercontent.com/assets/11187464/11019684/88442394-8668-11e5-83a4-1856c444de8c.jpg)

Hi, Could someone know what might be wrong and how top resolve it?   I have updated my Visual Studio 2015 and all Windows10 SDK to the latest updates.  Both IDE and SDK are latest and up-to-date.  But I am still seeing the message as seen in screen-capture image when I load th

[2015-11-09 06:44] wleev commented on #149
This example only runs on the latest [Insider Preview version of the Windows 10 SDK](https://dev.windows.com/en-us/downloads/windows-10-developer-preview), so you'll need that SDK plus an Insider Preview of the OS to run it. As far as I know Bluetooth pairing is not possible without the new Insider Preview, but you should be able to use the current SDK to receive/send data to already paired Blueto

[2015-11-09 07:52] demon-xxi opened #150 "AllJoyn Explorer is broked when object registered with AJ_OBJ_FLAG_DESCRIBED"
When alljoyn object is registered with AJ_OBJ_FLAG_DESCRIBED or with (AJ_OBJ_FLAG_DESCRIBED  | AJ_OBJ_FLAG_ANNOUNCED)  then AllJoyn Explorer shows 0 interfaces declared for the object.

Even though AJ Explorer  does not yet support AllJoyn Events and Actions API, it should respect AJ_OBJ_FLAG_ANNOUNCED  flag present and use basic Introspection interface which is still available for the object.

[2015-11-09 07:55] demon-xxi opened #151 "AllJoyn Explorer is broked when object registered with AJ_OBJ_FLAG_DESCRIBED"
When alljoyn object is registered with AJ_OBJ_FLAG_DESCRIBED or with (AJ_OBJ_FLAG_DESCRIBED  | AJ_OBJ_FLAG_ANNOUNCED)  then AllJoyn Explorer shows 0 interfaces declared for the object.

Even though AJ Explorer  does not yet support AllJoyn Events and Actions API, it should use basic Introspection interface which is still available for the object.

[2015-11-09 13:41] marcusrussell commented on #60
Hello pwi1263,

This behavior has been improved, and the resolving changes are available in current releases.  Keyboard input should be functional in the scenario you describe with the latest content. You can get the latest content from the following link: http://go.microsoft.com/fwlink/?LinkID=625104

[2015-11-09 16:54] cmaloney-msft commented on #147
Hi Grahamehorner, Windows 10 IoT Core is configured to sync the time on boot as you suggest.

Are you experiencing issues with the date/time?

[2015-11-09 17:02] jessekaplan commented on #105
Now we do have something we can announce :-)

The latest "Insider Preview" has significant performance improvements to the Gpio operations that should make it much easier to use the DHT22. We see ~3x improvements in speed over the 10240 build and the Fall Release will have another 50% on top of that.

Additionally, this preview also includes an optional driver that, when enabled, increases perform

[2015-11-09 17:06] grahamehorner commented on #147
If that is the case the Raspberry PI that is not receiving the time NTP on boot; have confirmed that this is the case when using WiFi as well as wired.

[2015-11-09 17:10] cmaloney-msft commented on #147
Can you share what build you are running and the output of the following command using a SSH or PowerShell console?

w32tm /query /status

Thanks!

[2015-11-09 19:29] grahamehorner commented on #147
I'm running build 10.0.10556.0 and w32tm /query /status returned [minwinpc]: PS C:\Users\Administrator\Documents> w32tm /query /status
Leap Indicator: 3(last minute has 61 seconds)
Stratum: 0 (unspecified)
Precision: -6 (15.625ms per tick)
Root Delay: 0.1842967s
Root Dispersion: 8.0847694s
ReferenceId: 0x00000000 (unspecified)
Last Successful Sync Time: 11/9/2015 9:24:14 AM
Source: time.windows.co

[2015-11-09 19:35] grahamehorner commented on #147
I've also ran

[minwinpc]: PS C:\Users\Administrator\Documents> tzutil /s 'GMT Standard Time'

[minwinpc]: PS C:\Users\Administrator\Documents> w32tm /query /status
Leap Indicator: 3(last minute has 61 seconds)
Stratum: 0 (unspecified)
Precision: -6 (15.625ms per tick)
Root Delay: 0.1842967s
Root Dispersion: 8.0847694s
ReferenceId: 0x00000000 (unspecified)
Last Successful Sync Time: 11/9/2015 5:24

[2015-11-10 01:12] cmaloney-msft commented on #147
Looks like your system is successfully contacting the time server.

Can you tell if your issue is a time zone issue and your clock is off by hours exactly, or if your issue is a NTP/RTC issue and your clock is simply wrong?

If it appears that it is a time zone issue can you confirm that your tzutil command took by running "w32tm /tz"

Edit : words

[2015-11-10 01:26] Mitwpgm commented on #149
Thanks wleev for that!  I have installed the latest Insider Preview version of the WIn10 SDK .  I can open and build project now.  However, I can't deploy to target device as the OS version is incompatible.  Where do you get the latest Insider Preview of the Win10 IoT OS?  I have downloaded the latest version of the Insider Preview for Raspberry Pi from  http://ms-iot.github.io/content/en-US/Downl

[2015-11-10 04:20] wleev commented on #149
There's no RPi OS yet that supports the API features in the BluetoothGatt project. You can't access Bluetooth from simulators either. Your only option is to get Insider Preview builds for your Windows 10 OS ( or possibly VM ).

I've got the example working on my desktop, with some minor code changes. It appears DeviceInformationCustomPairing is already no longer supported on my current OS build (

[2015-11-10 06:07] kusumamurthy commented on #149
The changes in the Bluetooth GATT sample were pushed early. We are working on our next release and that release should work.

[2015-11-10 08:48] Mitwpgm commented on #149
Thanks again very much wleev for your helpful reply to my question!  I will try on desktop as suggested meantime while waiting for next release of the OS.

Kusumamurthy, thanks for the feedback on this sample project.  Could you please tell me when about is the next release going to be rolled out to public?  I wish to know the time frame I will have to wait for.  Thanks!

[2015-11-10 11:02] grahamehorner commented on #147
@cmaloney-msft local GMT time is 11:00am the Raspberry PI is showing 2:40am;  the w32tm /tz shows

minwinpc]: PS C:\Users\Administrator\Documents> w32tm /tz
Time zone: Current:TIME_ZONE_ID_STANDARD Bias: 0min (UTC=LocalTime+Bias)
  [Standard Name:"GMT Standard Time" Bias:0min Date:(M:10 D:5 DoW:0)]
  [Daylight Name:"GMT Daylight Time" Bias:-60min Date:(M:3 D:5 DoW:0)]

correction the app is showin

[2015-11-10 12:02] grahamehorner commented on #147
OK, so after some checks the date and time only gets updated in the app after a reboot? you can change the timezone and datetime via remote powershell but it seems to have zero impact until the raspberry pi is reboot?

[2015-11-10 17:27] cmaloney-msft commented on #147
The time zone for the default app comes from the [CultureInfo.CurrentCulture](https://msdn.microsoft.com/en-us/library/system.globalization.cultureinfo.currentculture%28v=vs.110%29.aspx) property which is set at thread start in this case. You can see this [here](https://github.com/ms-iot/samples/blob/develop/IoTCoreDefaultApp/IoTCoreDefaultApp/Views/MainPage.xaml.cs)

However there the Clock in th

[2015-11-10 18:28] bfjelds commented on #65
Only C++ is supported for console applications and services currently.

[2015-11-10 18:28] #65 closed, assigned to bfjelds

[2015-11-10 20:30] serusako commented on #135
Hi,
please try the following workaround - reboot your RPi2 platform and terminate the following process ZWaveHeadlessAdapterApp (shown in App Manager as running app)  before you plug in your USB serial adapter. You can also uninstall this app ZWaveHeadlessAdapterApp to make your changes persist across reboots.

[2015-11-10 22:09] marcusrussell commented on #82
Hello VTNI,

Thanks for your feedback.  We are considering developing a 433 MHz code sample and will update this post with our plans and progress.

Thanks

[2015-11-11 19:07] kusumamurthy commented on #149
Unfortunately, we cannot publicly announce any dates. We will update this thread when the sample can be run from the released bits.

[2015-11-13 16:54] cmaloney-msft commented on #147
Hi Grahamehorner, did we get your questions answered?

[2015-11-13 17:02] grahamehorner commented on #147
Yes, thanks the Raspberry PI needs a reboot when changing timezone otherwise the DefaultApp will show the incorrect time, it would be good to allow the user to seect the timezone via the DefaultApp simlar to the language selection.

[2015-11-13 17:03] cmaloney-msft commented on #147
Thanks, I will make sure your feedback gets passed onto the team.

[2015-11-13 17:03] #147 closed, assigned to nobody

[2015-11-16 01:20] koapeadu opened #158 "AllJoyn Explorer source code"
Hi,

I am trying to develop a UWP application using C# that will discover all AllJoyn producers on the network and create consumer objects for communicating with the devices(producers). It's going to be pretty much like the AllJoyn Explorer.

Is the source code for the AllJoyn Explorer available for developers?

If not can I get some insight or guides to writing such a program?

[2015-11-17 01:03] zhuridartem commented on #158
We are currently not planning to release AllJoynExplorer as source.
However, AllJoynExplorer uses the following source to enumerate and interact with AllJoyn devices: https://github.com/ms-iot/samples/tree/develop/AllJoyn/Platform/DeviceProviders

[2015-11-17 01:04] zhuridartem commented on #112
This is now fixed. Please let us know if you have any issues!

[2015-11-17 01:04] zhuridartem commented on #64
Fixed. Thank you for your patience!

[2015-11-17 01:07] zhuridartem commented on #151
Could you tell us more about the setup that you are using?
Specifically, are AllJoyn producers and AllJoyn Explorer running on the same machine? If so, please double check network isolation has been applied to both AllJoyn Explorer and producer application by following Troubleshooting section of the https://github.com/ms-iot/samples/releases/download/AllJoynExplorer_1.0.11/AllJoyn_Explorer_Setup_G

[2015-11-17 01:07] zhuridartem commented on #150
Duplicate of https://github.com/ms-iot/samples/issues/151

[2015-11-17 01:10] zhuridartem commented on #114
Thanks for the feedback. The ZWaveAdapterApp that is part of the stock image is indeed https://github.com/ms-iot/samples/tree/develop/AllJoyn/Samples/ZWaveAdapter 's HeadlessAdapterApp.
You can disable the app from running by default by running in SSH or in WEBB's Process view the following command: "iotstartup.exe remove headless ZWave" and restarting your device. Now it should not start on boot.

[2015-11-17 18:37] demon-xxi commented on #151
@zhuridartem, I am using Router and thin client on Linux machine running 15.04 version of alljoyn.
The explorer itself is running on windows in the same network.

[2015-11-17 18:37] #150 closed, assigned to nobody

[2015-11-19 16:33] grahamehorner opened #163 "AllJoyn for CoreCLR"
Please consider creating an implementation of the AllJoyn provider and tools that is compatible with the CoreCLR

[2015-11-25 00:29] #105 closed, assigned to jessekaplan

[2015-11-25 00:33] marcusrussell commented on #128
Assigning to Jesse, who has a task associated with this topic.

[2015-11-25 19:25] mms- commented on #11
That makes sense, however there should be a natural way to implement the dialog box service, there shouldn't be an API that exists but crashes the app..

That is, is there a way to plugin our own dialog functionality without going in and wrapping dialog code all over the app?

[2015-11-26 13:56] TheUltimateC0der commented on #65
When will VB.Net or C# will be supported ?

[2015-11-26 17:24] mms- commented on #65
Is it managed C++ that can call managed c# assemblies?

[2015-11-30 21:32] bfjelds commented on #65
Outside of WinRT, we don't have plans to support managed code on IoT Core.

For the service sample, it is not managed C++.

[2015-11-30 22:32] mms- commented on #65
That makes sense, I assume then that WinRT will grow in capability and WinRT based services or equivalent will arrive at some point. Hopefully not years..

[2015-12-02 21:22] HeyJude1997 opened #171 "DHT22/AM2302 Not Working with GPIOOneWire"
Currently I am using the DHT22/AM2302 which has a built in 5.1k resistor, using the program provided from https://ms-iot.github.io/content/en-US/win10/samples/GpioOneWire.htm and connected the sensors VCC to 3.3V(Pin1), GND to GND(Pin6), and DOUT to GPIO4(Pin7). Everything seems to be hooked up right but when running the program, no sensor is detected.  I've troubleshooted the sensor on a Linux pl

[2015-12-03 06:42] jordanrh1 commented on #171
What build number are you running (type 'ver' at the SSH prompt)? The DHT11 sample only works on build 10556 and higher.

The sample is right on the edge performance-wise of being able to service the DHT11. If there is significant background activity (e.g. network, USB, disk, video activity) it could prevent the sample from working correctly.

[2015-12-03 15:14] MaheshGaware commented on #112
I am also facing this issue while I try to build and deploy UWP app with debug build. In release build, it works fine.

[2015-12-03 21:39] HeyJude1997 commented on #171
Currently running [Version 10.0.10240](I am still very new to iot so I assume this is an out dated version 10240? downloading version%2810586.0.151029-1700%29 OS image). Here is the model number of the DHT22 as well as the kind I have bought. Model # (SN:150605AB6),  http://www.amazon.com/Temperature-Humidity-Measurement-Appliance-XYG-Study/dp/B0130I6MIC/ref=sr_1_8?ie=UTF8&qid=1449176521&sr=8-8&ke

[2015-12-03 23:29] HeyJude1997 commented on #171
That fixed it.

[2015-12-07 21:36] ooeygui commented on #171
Based on the last comment, this sounds like it works now.

[2015-12-07 21:36] #171 closed, assigned to nobody

[2015-12-07 21:44] ooeygui commented on #149
Please check with the latest release of Windows 10 IoT Core - it was released after this thread.

[2015-12-07 21:44] #149 closed, assigned to nobody

[2015-12-08 06:22] bjnicholson opened #176 "Digital Signage Video not playing smoothly on 410c"
video playback on the dragonboard 410c stutters.  It plays for 1-2seconds, then moves back several frames (1/4 to 1/2 of a second), and plays for 1-2 seconds before moving back 1/4 to 1/2 second again.

This same issue happens when visiting a site in the browser of this sample with video embedded.

In case it helps, it also happens outside of this sample app too (a simple app with just a video pla

[2015-12-09 22:22] dotMorten opened #178 "AllJoynExplorer crashes on Windows 10 Mobile"
When deploying the alljoyn explorer to Windows 10 mobile, the app will launch but then crash a second later.

[2015-12-09 22:22] dotMorten commented on #178
FYI @zhuridartem

[2015-12-09 23:40] dotMorten commented on #158
@zhuridartem Are you guys looking into providing this library as a nuget package for easy consumption? If not I'll be happy to do that, but figured I would ask the owners first. the DeviceProviders library is hugely useful for generic device consumers.

[2015-12-09 23:44] ianlee74 commented on #158
+1 for making the AllJoynExplorer source available.  I've also started a customized version of something similar.  Given this is an app that basically everyone developing for AllJoyn on Windows uses, I think there would be great value in making it available as a reference project.

[2015-12-10 00:45] zhuridartem commented on #178
Noted. We will attempt to repro and get back to this post.

[2015-12-10 06:06] ravindrank commented on #132
Additionally, in my case, immediately after getting the project from git, I could not build DigitalSignageUAP with an error indicating System.Runtime.dll missing. I had to remove the NETCoreUniversalWindow platform Nuget package and install it again, accept licence agreement during this process and then it builds.

[2015-12-10 17:48] SlavyMihov commented on #132
Thank you for your comments. I'll be taking a look at the issue. Can you describe me your setup? Which version of VS and SDK do you have installed?

[2015-12-11 01:43] ravindrank commented on #132
Hi SalvyMihov,

Sorry for my confusing post. I don't see any certificate errors etc like Housten sees.

I did see the System.Runtime.dll missing error. I remove the NETCoreUniversalWindows platform Nuget package and install it again, accept licence agreement during this process and then it built fine. I was able to successfully deploy as well.

I'm on VS2015 Update1.

[2015-12-12 21:49] ricl opened #181 "Current Blinky web page on IoT contains proof reading error"
https://ms-iot.github.io/content/en-US/win10/samples/Blinky.htm

Still references 'None' in the text box in item 3 although the picture alongside it is correctly showing the new choices under u1 of Universal (Unencrypted Protocol).

[2015-12-12 23:22] bfjelds commented on #181
Thanks for the feedback!  We will correct this ASAP.

[2015-12-13 14:51] ricl opened #182 "Pinmappings do not reflect Serial Tx/Rx available from 10586 on"
https://ms-iot.github.io/content/en-US/win10/samples/PinMappingsRPi2.htm

Pins 8 & 10 are still marked 'Reserved'.

[2015-12-14 15:35] bfjelds commented on #181
Pull Request to fix this: https://github.com/ms-iot/content/pull/747

[2015-12-14 16:00] #181 closed, assigned to nobody

[2015-12-14 16:01] ricl commented on #181
That should do it

[2015-12-15 23:37] SlavyMihov commented on #132
ravindrank, did you try building/deploying any of the other sample applications? Do you see the System.Runtime.dll missing error with any of them, or is the error specific to the DigitalSignage app?

[2015-12-16 01:53] ravindrank commented on #132
Hi,

Yes I see the same issue with Blinky as well..
We need to remove and readdd NETCoreUniversalWindows platform Nuget package and install it again, accept licence agreement ..

[2015-12-16 21:35] SlavyMihov commented on #132
In order to avoid uninstalling/reinstalling the NETCoreUniversalWindows platform Nuget package and have this automatically resolved when you first rebuild the solution, you can try enabling automatic package resolution by the NuGet Package Manager:
1. open Tools -> NuGet Package Manager -> Package Manager Settings
2. select NuGet Package Manager -> General
3. check "Allow NuGet to download missing

[2015-12-22 08:31] tomkuijsten opened #189 "Http request is not read completely"
In the [sample code](https://github.com/ms-iot/samples/blob/develop/App2App%20WebServer/WebServerApp/WebServerTask/BackgroundTask.cs) of the App2App sample there is a construction to read the IInputStream. I have a problem reading the full request, it sometimes stops before reading the body of the request. The issue can be found here:

https://github.com/tomkuijsten/restup/issues/20

And I found t

[2015-12-28 00:33] afoliaco opened #190 "SerialDevice.LoadAsync block await task"
I having a little issue reading data from Nave32  Flight Controller, I'm able to send data to the card using the SerialDevice class but when the LoadAsync Method is call and there is no more data to read the app hung and does not move forward, there is not exception during the execution of the process. I look at the app state and there is a bunch a task block and I'm not sure why. See image below

[2015-12-28 08:36] tobiasstraub commented on #189
@tomkuijsten has found a solution for this problem. You can read about this [here](https://github.com/tomkuijsten/restup/issues/20#issuecomment-167320246) and show the [code here](https://github.com/tomkuijsten/restup/blob/19f989aaf194348f16de819e55ba696f9f6eac7f/src/WebServer/Http/HttpRequestStreamReader.cs).

[2016-01-11 23:41] stephenhuang commented on #117
Hi dotMorten,
I'm part of the Microsoft IoT Team.
This is a great idea and we'd love to see your sample. Please submit a pull request and we'll take care of the rest.

[2016-01-11 23:45] dotMorten commented on #117
@stephenhuang Yes I can provide you with this, however, can you help guide me to solve the issue on the last paragraph?

[2016-01-11 23:52] stephenhuang commented on #117
@dotMorten My suggestion would be to have the screensaver disabled by default and to add an option to enable/disable it under settings (the gear in the top right hand corner).
In the coming months, we can take your work and improve it so it can be set remotely from a computer. This will solve your problem :)

[2016-01-12 01:23] dotMorten commented on #117
Got it! What do you want on the screensaver? Do you have a PNG or JPEG I can use? Perhaps a Windows IoT Core logo?

[2016-01-13 04:22] dotMorten commented on #117
@stephenhuang Alright! Check out the PR and let me know what you think.

[2016-01-13 06:48] dotMorten commented on #158
I put up a nuget package of the DeviceProviders here: https://www.nuget.org/packages/dotMorten.AllJoyn.DeviceProviders I hope you're ok with this.
Still it would be great with an official package released by Microsoft, but I'm happy to maintain this package too.

[2016-01-13 06:50] dotMorten commented on #114
The Gen5 adapter uses a different serial device driver, which I'm pretty sure doesn't work with IoT Core.

[2016-01-13 17:14] dotMorten opened #199 "C# and VB Background Task project missing reference to .NET Core"
When you download the IoT Core Project templates and create a new background task, the project won't compile. You need to open up project.json and add a reference to .NET Core.

![image](https://cloud.githubusercontent.com/assets/1378165/12301305/18cd3ee8-b9d4-11e5-8ebb-222345555778.png)

[code]

Steps to reproduce:
- Download and install the IoT Core Project Templates from the VS Gallery
- Create

[2016-01-13 17:28] bfjelds commented on #190
If this is implemented like other async stream reads, the hasdata=false code will only be executed when the stream is closed.  Otherwise, the LoadAsync will only be triggered when there is data to read.

You may need to interpret the data after each LoadAsync call is triggered and determine in your code if what you've loaded is complete.

[2016-01-13 17:54] afoliaco commented on #190
Basically LoadAsync will in a waiting state if I call it after the last byte read. Can explain when you said create a trigger? you mean look something on the data that come back and that trigger the stop or some other class method to validate?

[2016-01-13 18:32] bfjelds commented on #190
What I meant was that after each call to LoadAsync returns, check to see if the data that has been received is "complete".  If it is, do not call LoadAsync again.  If it is not, then call LoadAsync again.

[2016-01-13 20:47] dankuo commented on #182
Thanks! Pin mappings have been updated to reflect the addition of Serial UART.

https://ms-iot.github.io/content/en-US/win10/samples/PinMappingsRPi2.htm

[2016-01-13 21:10] #182 closed, assigned to dankuo

[2016-01-13 21:13] stephenhuang commented on #117
Will do, thanks for helping out. We can always change the jpeg on our end (We'll need to comply with branding guidelines so it's best if we change it anyway).

Will take a look shortly

[2016-01-19 22:55] zhuridartem commented on #112
This will be updated with https://github.com/ms-iot/samples/pull/201

[2016-01-19 22:58] zhuridartem commented on #163
Could you clarify which tools are you referring to? Is this the AllJoyn Studio or the Device Providers?

[2016-01-20 01:09] bfjelds commented on #199
The dependency should be added (as it is for the other C#/VB UWP projects) when the template is instantiated.

Can you look at the versions you have installed in About Visual Studio?

[2016-01-20 02:52] zhuridartem commented on #178
Won't Fix. AllJoyn Explorer is currently not supported on Windows 10 mobile, with no ETA.
Note that DeviceProvider based projects should not be crashing on Mobile, IoT Core, or other editions.

[2016-01-20 05:16] dotMorten commented on #178
Sad Panda :-(
Quite useful to have a device next to you to monitor alljoyn services while debugging

[2016-01-21 21:43] koapeadu commented on #176
I also have the same issue on the Raspberry Pi 2.

[2016-01-26 13:31] koapeadu opened #205 "Unable to launch Background Application from Device Portal"
When Background Applications (and headless Alljoyn Apps),  I am unable to launch them from the Device Portal.

There's just a javascript alert which says
    "Failed to start package
    AppNameHeadless_ef679m
    AppNameHeadless"

[2016-01-26 16:21] bfjelds commented on #205
This is an unfortunate limitation of the Device Portal currently.  It can only start headed applications.

As a workaround, in the Processes page, you can use Run command to execute this command to start a background application (by specifying it as one of the startup apps):

[code]

This will start the background application.  **NOTE: this will configure IoT Core to ensure that this background ap

[2016-01-26 20:03] MfCAYO opened #206 "App2App WebServer - server crash"
I verified that the Web Server breaks down after 200 http requests and it stops responding.
If you compile the projects in Release config. it breaks too but lasts three times.
(IoT Core version 10.0.10586.63)
Have you got any solutions?
thanks

[2016-01-27 20:56] mgaman opened #207 "Wiki and Samples web site hard to read!"
Hi,
The current color scheme of pale gray text against a white background is a nightmare to read.
Just look at a basic Wiki page, https://en.wikipedia.org/wiki/Main_Page, much much easier on the eyes.

Am I the only one that finds this a problem?

[2016-01-27 21:30] bfjelds commented on #207
Sorry for the inconvenience!

For the Samples, I believe we are simply using the standard Git UI color scheme ... I'm not aware of how much customization is available, but we will look into it.

[2016-01-29 06:01] emmatyping commented on #30
Any eta on the graphics driver being released? I am hoping to use the pi for a webcam, and currently, it just doesn't do.

[2016-01-29 16:23] jessekaplan commented on #30
This is a priority item for us, with work underway, but unfortunately we don't have a timeline to announce at this point.

I normally hate suggesting spending more money as a workaround for a limitation of our product, especially a temporary one, but just in case this would be useful for you I wanted to let you know. We recently released support for the Dragonboard 410c with GPU acceleration (ther

[2016-01-29 17:30] emmatyping commented on #30
Am I correct in that you are waiting on https://github.com/Microsoft/graphics-driver-samples for gpu acceleration? As I understand it, the issue with the video capture sample is that it needs hardware acceleration. Is this correct? Also, thanks for the suggestion, but the Pi is essentially a requirement.

[2016-01-29 21:36] jessekaplan commented on #30
Our team is actually working on the driver directly, we're not waiting on another project. You're understanding is correct though, the issue is that this scenario requires hardware acceleration.

--Jesse

[2016-02-03 20:05] bfjelds commented on #206
Your description sounds like it could be related to this issue:

https://github.com/ms-iot/samples/issues/189

[2016-02-03 20:05] #205 closed, assigned to nobody

[2016-02-03 20:07] bfjelds commented on #199
Please reopen this if you continue seeing this issue!

[2016-02-03 20:07] #199 closed, assigned to bfjelds

[2016-02-03 22:56] bfjelds commented on #206
Thank you for letting us know about this.  We will investigate.

[2016-02-03 23:28] MfCAYO commented on #206
ok, thank you for the support!
if I change the following asynchronous methods to synchronous, the stability improves, but I do not think that is the best way...

[code]

and than i put the call of ProcessRequestAsync inside a lock block:

[code]

[2016-02-03 23:31] bfjelds commented on #206
What device are you running into this on?

[2016-02-03 23:32] MfCAYO commented on #206
Raspberry PI 2

[2016-02-03 23:35] bfjelds commented on #206
I see instability there too.  I'll see if I can't figure out what is causing this to see if there is a code fix (hopefully!) or there is an issue in the underlying platform.

[2016-02-03 23:47] MfCAYO commented on #206
thank you very much, I long to see you! ;-)

[2016-02-04 15:03] mce1978 opened #208 "BluetoothGATT example for the TI-CC2650"
The BluetoothGATT example uses the old sensortag CC2541. The CC2541 is no longer available from Texas Instrument and is "replaced" by CC2650.

Shouldn't the sample code be adapted to the new version or that it could handle both versions. The UUID's have changed as well as the formulas to calculate for example temperature.

[2016-02-08 13:52] vtni commented on #82
Hi,
are there any news about this?

[2016-02-08 21:27] koapeadu opened #210 "AllJoyn DSB Control panel"
I would like to know if the ControlPanel code files in the AllJoyn DSB project implement both controller and controllee or only the controllee aspect.

[2016-02-08 22:44] zhuridartem commented on #210
Controlee only. DSB is the application that advertises the control panel for each device that it represents on AllJoyn

[2016-02-10 14:44] koapeadu commented on #210
Oh wow. Well I understand that. The DSB is meant to enable non-alljoyn devices to be able to communicate in the alljoyn ecosystem so it makes sense to have only the controllee.
Anyway, I would like to know if there is an implementation of the controller side of the control panel service in the UWP or a third party/sample implementation that is compatible with the UWP.

[2016-02-13 01:15] 0kkult0 opened #214 "Serial Sample"
Hello, I need to write an application for Windows iot, I would use a timer, which listens on com port and is waiting for data sent from the coin selectors, but I can not read the data.

Thanks

[2016-02-14 16:29] dotMorten commented on #117
@stephenhuang ping ;-)

[2016-02-15 01:37] mahoekst opened #215 "IOTCoreDefault app OOBEWelcome screen doesn't present well on Phone screen"
Screen doesn't adapt to smaller (horizontal) sizes, you can't get through the language selection screens etc.

[2016-02-16 16:38] grahamehorner commented on #163
the VSIX tools for AllJoyn

[2016-02-16 17:15] grahamehorner opened #216 "update to support build using dotnet cli"
Please update the sample to allow building/running via dotnet cli

[2016-02-18 04:28] jwinarske commented on #176
I experienced the same on a 410c running the .63 build

[2016-02-19 09:55] ManniAT commented on #210
In general Control Panel is put in second place
There are no samples (neither controller nor controllee).
Documentation just shows "...and interface for..." - but no hints (snippets) of how to handle it.

Or am I wrong and just didn't find the information?

[2016-02-19 15:28] bfjelds commented on #216
Thanks for the feedback!  Can you specify which sample you are interested in for .NET cli?

[2016-02-19 15:29] bfjelds commented on #215
Thanks for the feedback!  We will look into this as soon as we can!

What screen size did you experience this on?

[2016-02-19 23:21] MahmoudGSaleh commented on #215
Thanks for bringing up this issue.
We've updated the OOBE screen XAML, so it's got a responsive UI now and should adapt to any screen size (240px or more).

[2016-02-20 18:53] mahoekst commented on #215
great, I can get through the pages now on a mobile device.

[2016-02-20 18:53] #215 closed, assigned to bfjelds

[2016-02-21 16:31] MfCAYO commented on #206
hello bfjelds,
sorry but the last published version (Feb 6, 2016) of BlinkyWebService does not start HttpServer and if I try to manually run HttpServer from Windows Device Portal displays the error "Failed to start package HttpServer...".
What can I do?

[2016-02-21 20:55] AndreyShpilevoy commented on #114
It will be supported in the near future?
As I know it's very common device, it very pity, that it not supported yet.

[2016-02-21 21:17] dotMorten commented on #114
@AndreyShpilevoy Make sure you vote (or suggest if it's not already there) on connect: https://connect.microsoft.com/windowsembeddedIoT/Feedback

[2016-02-21 21:37] AndreyShpilevoy commented on #114
@dotMorten thank you for the link. I just created the task on this issue.
https://connect.microsoft.com/windowsembeddedIoT/Feedback/Details/2388618

[2016-02-22 05:57] bfjelds commented on #206
It is true that the HttpServer needs to be started separately from BlinkyWebService.  It is also unfortunately true that, as a Background Application, it cannot be started from the device portal.

Both should be invoked from Visual Studio using F5.  Please see the sample's deployment documentation here: http://ms-iot.github.io/content/en-US/win10/samples/BlinkyWebServer.htm.

[2016-02-22 19:08] Sumahitha commented on #214
Hello,
Can you provide some more details? Are you using the on-board UART or a USB-to-TTL device? What IoT device are you using? Are you seeing this problem when you use the sample?

Thanks!

[2016-02-22 21:05] 0kkult0 commented on #214
Hello, I'm using UART, the device is a coin selectors, I started from the example SerialSample, but I can not read from the coin input.

thanks

[2016-02-22 21:16] Sumahitha commented on #214
Can you please post the code you are using? Also please give us a brief description of what your expected outcome is -  how are you using the coin device? Are you are using Raspberry Pi or Minnowboard Max or Dragon Board.

[2016-02-22 21:20] stephenhuang commented on #117
Looks good. We'll pull this shortly

[2016-02-23 01:22] 0kkult0 commented on #214
I'm only using raspberry pi 2, IOT windows operating system, this is a piece of code that I use to read data from the coin selectors. The myTimer function sends a command to the coin and should intercept a response, but does not work.

private SerialDevice serialPort = null;
DataWriter dataWriteObject = null;
DataReader dataReaderObject = null;
private ObservableCollection<DeviceInformation> listO

[2016-02-23 16:07] MfCAYO commented on #206
There is a way for you to use this sample as a default app?
thanks for your invaluable help

[2016-02-23 17:40] bfjelds commented on #206
For default/startup apps, you can specify one GUI app and any number of Background Applications.  The easiest way to do this would be to:
1. Deploy these using Visual Studio's F5.
2. Use iotstartup (using Powershell or SSH or from the Device Portal's Processes Run Command section):

   iotstartup add headed BlinkyWebService
   iotstartup add headless HttpServer

This will configure the OS to start

[2016-02-26 06:42] deivid77 opened #220 "Drivers on Raspberry Pi (PWM & DirectX)"
Hi,

Are you going to support PWM in the framework like Python does?.
I would like to get a piezo buzzer working directly without C++ Bus Provider Library or Lightning drivers (the sound is not enough loud)

I would also like to know an estimated release date for Direct-X support

Thanks in advance.
David Blanco

[2016-02-26 22:31] aneillans opened #222 "Update open-zwave?"
Any chance of getting the open-zwave integration updated? The one included is significantly out of date, and it doesnt seem to be a simple job to update it...

[2016-02-27 23:14] MikaVirkkunen opened #223 "string device1 always null"
I'm trying to get this BTSample sample working but it seems that I don't get any values to my "device1" and therefore the device connection always fails.

When I set a break to this line:
string device1 = RfcommDeviceService.GetDeviceSelector(RfcommServiceId.SerialPort);

I can see this:

RfcommServiceId.SerialPort  {Windows.Devices.Bluetooth.Rfcomm.RfcommServiceId}  Windows.Devices.Bluetooth.Rfco

[2016-03-02 17:06] Sumahitha commented on #214
The Read operations look correct. Please check the following:
1. Hardware connections -  the TX from the coin device is connected to the RX on the UART pins and RX from the coin device is connected to the TX. Please ensure that GND is also connected correctly
2. You have used DeviceInformation entry = (DeviceInformation)selection[0]. Please make sure that entry [0] corresponds to the UART you have

[2016-03-02 17:14] Sumahitha commented on #214
Also please make sure that the serial capability is added to your project - package manifest

`<Capabilities>
    <DeviceCapability Name="serialcommunication">
      <Device Id="any">
        <Function Type="name:serialPort" />
      </Device>
    </DeviceCapability>
  </Capabilities>`

Refer here for more details: http://ms-iot.github.io/content/en-US/win10/samples/SerialSample.htm

[2016-03-04 02:50] limulidae opened #225 "C# version"
is there C# version of this sample code?

[2016-03-04 10:35] grahamehorner commented on #225
which sample do you refer to ? there are lots of samples and some are/have C# ?

[2016-03-04 10:41] grahamehorner commented on #78
@PatGet have you performed a reboot after changing the Language Settings; I had something similar with regards to date/time region; and it's because of the system/thread culture change isn't detected by the app.

A restart stored it for me

[2016-03-04 10:43] grahamehorner commented on #78
https://github.com/ms-iot/samples/issues/147

[2016-03-04 11:18] grahamehorner opened #226 "Windows Universal Runtime version 10.0.10545.0 ?"
I'm unable to run the samples on Windows 10 using VS2015 in a simulated mode;

Error : DEP3321 : To deploy this application, your deployment target should be running Windows Universal Runtime version 10.0.10545.0 or higher. You currently are running version 10.0.10240.16683. Please update your OS, or change your deployment target to a device with the appropriate version.
    IoTCoreDefaultApp

The

[2016-03-05 22:23] zstinnett opened #228 "DHT 22 displaying wrong temp"
After exceeding 25.5 C the sensor then reports 1.0 C. I have tested with two separate DHT22 sensors and I'm currently on build 14262. Has any one else had this problem?

[2016-03-07 16:28] bfjelds commented on #228
Does this refer to a particular sample?  Or have you written your own code to experience this?

[2016-03-07 16:31] bfjelds commented on #226
What do you mean by "in a simulated mode"?  Also, when you look at **Help > About Visual Studio**, what version of **Visual Studio Tools for Universal Windows Apps** do you have installed?

[2016-03-07 18:00] bfjelds commented on #78
This locale change issue is a problem with the OS currently that we are working to fix.

[2016-03-07 18:31] maglims commented on #223
You need to pair your BT device with the board first before you try the sample.
Can you take a look at this sample steps on how to pair the device first?
https://github.com/ms-iot/content/blob/develop/en-US/win10/samples/BTSerial.md

[2016-03-07 19:25] MikaVirkkunen commented on #223
Yep it's paired but not working. I've tried with other paired devices too. The result is same if I try to run it locally in my laptop win10. It seems that I get some AMQ response with UUID value etc but device1 seems to be always null. I've also verified the app manifest file values etc and everything seems to be ok. I'm probably missing something really simple here :) in what format the bt device

[2016-03-07 23:33] #225 closed, assigned to nobody

[2016-03-08 00:08] zstinnett commented on #228
This is using the GPIOOneWire example, with no modifications.

[2016-03-08 22:34] jordanrh1 commented on #228
Hi Zach, do you have a code sample where this is working correctly, like on an Arduino?

[2016-03-08 22:57] zstinnett commented on #228
No, unfortunately I have no other test setups.

[2016-03-10 06:43] jordanrh1 commented on #228
I'm sorry that you running into issues with the DHT22. The sample was tested only with a DHT11. I've ordered a DHT22 and will update the sample when I can verify the fix with a DHT22.

[2016-03-10 15:34] zstinnett commented on #228
Ok, please let me know the results of the tests. Thank you for your help.
- Zach Stinnett

[2016-03-11 00:22] #64 closed, assigned to zhuridartem

[2016-03-11 00:22] #112 closed, assigned to zhuridartem

[2016-03-11 00:29] zhuridartem commented on #135
ZWave App is no longer enabled by default. Closing issue.

[2016-03-11 00:29] #135 closed, assigned to serusako

[2016-03-11 00:30] #178 closed, assigned to zhuridartem

[2016-03-11 00:51] zhuridartem commented on #210
You can find documentation about Control Panel at Allseen Alliance: https://identity.allseenalliance.org/developers/learn/base-services/controlpanel

It links to Samples page
https://identity.allseenalliance.org/developers/develop/run-sample-apps/controlpanel

Note that there are no Windows samples. Code for Controller is available for other platforms on Allseen Alliance.

It is possible to implem

[2016-03-14 21:13] IoTGirl commented on #114
Please use "https://insider.windows.com/" for feedback on IoT Pre-release images.

[2016-03-14 22:59] dotMorten commented on #114
@iotgirl the location that @AndreyShpilevoy posted, is the place the IoT team keeps telling us to use

[2016-03-15 16:25] IoTGirl commented on #114
@dotMorten That poster is incorrect. Windows IoT Core no longer uses Connect for distribution and has shifted to Windows Insiders to align with the other versions of Windows 10.

[2016-03-18 23:28] grahamehorner opened #233 "IoTCoreDefaultApp - DeviceType"
at present the IoTCoreDefaultApp has hardcoded DeviceType enum for the hardware supported platforms, consider externalising this these values so as/when new hardware platforms become available a simple config file update is needed to:-
1. detected what hardware platform the application is running on
2. locate and load the appropriate hardware platform logo/display name
3. load the correct values f

[2016-03-19 23:10] mikestu opened #234 "VideoCaptureSample not working with Pi 3"
I bought a Lifecam HD-3000, since it looked like that web cam was supported by the Pi, but the VideoCaptureSample does not appear to work.  When I click to do the live video, all I get is a green color in the video area.  When I click to play it back, it still just shows green.  Am I doing anything wrong, or are there just things missing, to fully support this working with Raspberry Pi 3?  This is

[2016-03-21 15:31] bfjelds commented on #233
Thanks for the comment.  This is a great suggestion and we will add it to our backlog of items!

[2016-03-21 16:58] maglims commented on #234
Hi, Mike, sorry that you are having the issue. This sample was made for Pi2 and hasn't been tested on Pi3 yet. I will try it out on Pi3 and get back to you. Thanks for the feedback.

[2016-03-24 16:47] asebak commented on #208
Any updates on this?

[2016-03-29 19:21] Vinz68 opened #236 "IoTCoreDefaultApp - Contribute Dutch (NL-nl)"
I have added the Dutch resource strings (and tested it on a PI2 + PI3).
I would like to contribute (and maintain) this to the IoTCoreDefaultApp, but I need some help how to do this since I am not allowed to upload a file.

[2016-03-29 22:11] Vinz68 commented on #236
Ok, I just did an attempt to contibute the dutch resource file (and modified project file) after a quick online guide for Github.
Looks OK so far. Hopefully it gets approved and merged into the master eventually.
Not sure if I need to assign a reviewer or team; but we will see...

[2016-03-30 16:46] bfjelds commented on #236
Thanks for the submission!!  That is awesome!

I have started working with the MSFT localization team to understand what sort of review is required for this.

[2016-03-30 23:07] zhuridartem commented on #210
Closing as Answered.

[2016-03-30 23:07] #210 closed, assigned to nobody

[2016-04-01 09:06] Vinz68 commented on #236
I see that my contribution of the NL-nl resource file has been merged and the dutch language is now available.

Thanks !.

This issue can be closed then since it is solved.

[2016-04-01 15:07] #236 closed, assigned to bfjelds

[2016-04-02 16:52] jasjitchopra commented on #228
Same issue here with DHT22 - I do not have DHT11 so cannot test the difference in the output between the two. Temp showing as 8-10 C whereas it should be between 30-33 C

Even the humidity levels show up as 10-20% whereas actual values are between 40-55%.

[2016-04-03 11:50] grahamehorner opened #240 "IoTDefaultApp - IoT Protocol Gateway"
add the ability to action as an azure-iot-protocol-gateway to the IoTDefaultApp; this would allow the Windows 10 IoT Core to become a cheap gateway for devices that use/support MQTT/AMQP as not every device has/will support AllJoyn or has a AllJoyn bridge.

*this functionality could be toggled no/off according to deployment requirements and/or dynamically loaded/injected using DependancyInjection

[2016-04-06 07:19] mjmeans commented on #220
There is a PWM driver with settable I2C address in project https://github.com/jbienzms/iot-devices.

[2016-04-10 11:15] iggi131 opened #246 "SerialSample, missing DTR"
Missing setting DTR.
serialPort.IsDataTerminalReadyEnabled = true;

[2016-04-10 22:46] mgutski commented on #228
Hey guys, I had the same issue with DHT22 module (connected to RaspberryPi 2 Model B) - this is the bad news. The good news is that I managed to identify and resolve the bug that was causing this.
After reading a DHT22 datasheet (see https://www.adafruit.com/datasheets/DHT22.pdf) and scanning the code, it became quite clear to me that the bug is related to the invalid alignment of the sensor data.

[2016-04-18 17:57] JGuebert commented on #222
We released the Z-Wave adapter as a sample but do not have plans to update it to stay in sync with the latest version of OpenZWave. Should anyone from the community wish to take on this work, we are happy to review a pull request to update the sample.

[2016-04-20 19:05] VinceT25 opened #255 "Alljoyn DSB template failed to build"
I got the errors below building the Mock DSB template. Please advise.

5>  LSFHandler.cpp
5>LSFHandler.cpp(233): error C2440: 'return': cannot convert from 'Platform::IBox<bool> ^' to 'bool'
5>  LSFHandler.cpp(233): note: No user-defined-conversion operator available, or
5>  LSFHandler.cpp(233): note: There is no context in which this conversion is possible
5>LSFHandler.cpp(239): warning C4805: '=

[2016-04-23 13:23] sam5665 opened #260 "Difference between wingpio and RPi.GPIO (Problems with DHT11)"
Hello,
I want to use https://github.com/szazo/DHT11_Python and I changed the import form "import RPi.GPIO as GPIO" to  "import _wingpio as GPIO" but it just reports Error 1( Missing Data). What are the difference between RPi.GPIO and wingpio, maybe this helps to locate the error.

[2016-04-26 02:14] VinceT25 commented on #255
The above issues are all resolved w/ the update 2 release of 4/21.
Thanks.
VinceT25

[2016-04-26 02:14] #255 closed, assigned to nobody

[2016-04-26 03:03] VinceT25 opened #261 "DSB GPIO sample failed to build"
I created a DSB GPIO project by following the tutorial listed below. I got the errors below building it. Most of the errors are in the DSB template code itself, although a few are in the changes given in the DSB GPIO tutorial page here:
http://ms-iot.github.io/content/en-US/win10/samples/AlljoynDSB_GpioTutorial.htm

Do we need updates for the DSB template and the DSB GPIO tutorial code change?

Pl

[2016-04-26 05:22] VinceT25 commented on #261
All above issues resolved when I made the following change:
File: ControlPanel.cpp, line #481:
       Old:
            allJoynWidgetName += std::_Integral_to_string("%d", idx);
       New:

[code]

Thanks,
VinceT25

[2016-04-26 05:23] #261 closed, assigned to nobody

[2016-04-27 13:59] VinceT25 opened #262 "IoT BACnetAdapter DSB sample target option"
Is it possible to add **ARM** to the build/deploy target list for the BACnet DSB sample? I would like to deploy it to an RPI3 device. Please advise.

Thanks,
VinceT25

[2016-04-27 18:07] asherkariv commented on #246
On Raspberry Pi2,Pi3 HW flow control is not available, so any attempt to change DTR/RTS will result in a 'not supported' error.
This is also reflected in the properties of the serial port.

[2016-04-27 18:29] zhuridartem commented on #262
This sample relies on the Open source BACnet Protocol Stack (bacnet-stack-0.8.2 from http://bacnet.sourceforge.net/), which had problems building for ARM and that is why we disabled that configuration.

I just tried with VS 2015 Update 2 to re-enable ARM configuration, and it built with warnings.
You can enable the ARM build configuration in VS by selecting Build -> Configuration Manager -> Active

[2016-04-27 22:25] alanch-ms commented on #129
Sorry for the late reply.  I just double checked the samples.  The reference to _wingpio.pyd is there.  There's a bug in VS where the reference doesn't show up on the solution explorer.  However, if you look at the XML of *.pyproj, you can see the reference there.

[2016-04-28 00:22] alanch-ms commented on #260
Hello,

Thanks for the report!  We were able to reproduce the problem you have with the DHT11 sensor.  For some reason, when running on Windows IoT core, we are not reading the full 40 bits of data from sensor.  That's why the DHT11_Python library is reporting Error 1 (Missing Data).  We are working on it and will update you as soon as possible.

[2016-04-28 08:54] VinceT25 commented on #262
Thanks for the tip Zhuri. I'll keep those caveats in mind as I proceed cautiously.
VinceT25

[2016-04-28 08:54] #262 closed, assigned to zhuridartem

[2016-04-28 14:06] ScottLiuGitHub opened #263 "GpioOneWire C# Version"
Is there a C# version of the GpioOneWire?

[2016-04-28 19:42] Patafoin opened #264 "App2App WebServer blinky webservice not working anymore"
Hi,
I'm currently trying to use the blinky webservice to test communication between front GUI and back http server.
When I launch the C# sample, it crashes at the following line :
builder.SetTrigger((IBackgroundTrigger)trigger);
With the following exception : Additional information: Specified cast is not valid.
I'm running it on a raspberry 3, with Windows 10 IoT version 10.0.14322.1000
My Visual

[2016-04-28 20:12] bfjelds commented on #264
Can you include more of your code?  For example, what is "trigger" ... how is it created?

[2016-04-28 20:51] Patafoin commented on #264
my bad, I think I have made a mistake modifying sample code thinking it was original code...
I just unzipped original zip and tried again, it works.
sorry for the useless post...

[2016-04-28 20:51] #264 closed, assigned to nobody

[2016-04-28 23:37] bfjelds commented on #264
No problem!  We love any and all questions ... we are actively monitoring the samples Issues for any problems that people run into when trying to apply the samples to their real-world scenarios.

[2016-04-29 03:30] ScottLiuGitHub opened #265 "GpioOneWire - Timed out waiting for sample"
Is it expected to see "Timed out waiting for sample" every other 2 seconds?  I am using Raspberry Pi 3  and DHT22. Thanks!

[2016-05-03 17:53] ScottLiuGitHub opened #267 "GpioOneWire UWP C# QueryPerformanceFrequency"
I am trying to convert GpioOneWire to C#. How should I
QueryPerformanceFrequency in UWP? Thanks!

[2016-05-17 22:30] zhuridartem commented on #114
We will not be adding the UZB in-box driver to support the Gen5 in the near future.
From http://aeotec.com/z-wave-usb-stick/1358-z-wave-drivers.html it does not look like they have a published ARM driver.

I don't have the Gen5 hardware on hand.
 Perhaps you can manually try getting it to work by following these steps:
1. Get the driver from http://aeotec.com/z-wave-usb-stick/1358-z-wave-drivers
2

[2016-05-17 23:28] #222 closed, assigned to zhuridartem

[2016-05-18 20:54] zhuridartem commented on #158
Closing.
Please use dotMorten's NuGet DeviceProviders or get the source from link above for generic AllJoyn enumeration.

[2016-05-18 20:54] #158 closed, assigned to zhuridartem

[2016-05-18 20:59] torbenvaering opened #275 "Temp calculation - much too high"
Thanks for a great example!

The app reports
819.2RH
537.6C
any idea how to get some more realistic numbers?
Raspberry Pi 3
OS is 10.0.14328.1000

Thanks in advance.

[2016-05-18 22:40] grahamehorner commented on #233
This could be as simple as providing a resx for the board named something like RaspberryPi.resx, RaspberryPi3.resx, MinoboardMax.resx etc. which can be dynamically loaded.

[2016-05-26 07:24] jasonbu opened #278 "samples/BluetoothGATT/CS work not allright with my device"
I'm trying to edit the code to fit my device which using nRF52832, advertisement and connect is OK, but service discovery got some trouble,

callback is arrived but the service is null ... no idea why.

what i edit is only the service uuid

[2016-05-27 06:44] jasonbu commented on #278
I found it only happen when i debug the x86 on my x64 system

[2016-06-02 00:06] koapeadu commented on #158
Thanks guys. You made my final year project a success. :+1:
I also found [@dotMorten's tutorial on hackster.io](https://www.hackster.io/dotMorten/discovering-and-interacting-with-any-alljoyn-device-0dbd86) very useful.

[2016-06-02 01:37] dotMorten commented on #158
@koapeadu Glad you found it useful. I just published another library that builds on top of the device providers lib and exposes the common AllJoyn devices in an easy to use way: http://github.com/dotmorten/AllJoynClientLib

[2016-06-03 21:21] IoTGirl commented on #176
Repro secured and issue logged : See MSDN: https://social.msdn.microsoft.com/Forums/en-US/63c8f470-7f63-4ea3-929f-c11bd61d1929/accelerated-video-on-dragonboard-410c?forum=WindowsIoT

[2016-06-03 21:21] #176 closed, assigned to nobody

[2016-06-03 21:27] #246 closed, assigned to nobody

[2016-06-03 21:36] IoTGirl commented on #207
Feedback taken by Dev Team member - Closing issue

[2016-06-03 21:36] #207 closed, assigned to nobody

[2016-06-03 21:39] IoTGirl commented on #60
Fixed

[2016-06-03 21:39] #60 closed, assigned to Sumahitha

[2016-06-03 21:39] IoTGirl commented on #63
Feedback taken by IoT Team member - Closing

[2016-06-03 21:39] #63 closed, assigned to bfjelds

[2016-06-03 21:54] IoTGirl commented on #233
Feedback taken by IoT Team member - closed

[2016-06-03 21:54] #233 closed, assigned to nobody

[2016-06-03 21:56] jpoon commented on #63
@IoTGirl what does that mean? Are the apps being updated to support running on smaller screens?

[2016-06-03 22:04] IoTGirl commented on #226
Closing: No response from poster in more than one month

[2016-06-03 22:04] #226 closed, assigned to nobody

[2016-06-03 22:07] IoTGirl commented on #220
Raspberry Pi does not support Direct X - https://social.msdn.microsoft.com/Forums/en-US/457f1b43-2779-4a92-abcd-3257be41e599/directx-support?forum=WindowsIoT

[2016-06-03 22:07] #220 closed, assigned to nobody

[2016-06-03 22:07] IoTGirl commented on #214
Closing - No response from the original poster for more than 1 month

[2016-06-03 22:07] #214 closed, assigned to nobody

[2016-06-03 22:08] IoTGirl commented on #216
Closing - No response from the original poster for more than 1 month

[2016-06-03 22:08] #216 closed, assigned to nobody

[2016-06-03 22:10] SlavyMihov commented on #63
Yes, the apps have already been updated to display properly on small screens.

[2016-06-03 22:10] IoTGirl commented on #275
Hi Torben,
What does the sensor manufacturer say about the return value? Do you need to parse it in some way?
Sincerely,
IoTGirl

[2016-06-03 22:36] jpoon commented on #63
Cool. 👍

gitetiquette: link the issue with the PR.

[2016-06-03 23:11] TGoodhew commented on #275
Hi Torben - IoTGirl mentioned your issue to me and I vaguely remember having a similar issue for another project I worked on.

It was related to the actual conversion of the value read from the sensor to a real value. Can you point me to the exact piece of code that is causing you the problem?

IoTGirl said that it was the old Galileo sample for SmartFan - I still have the working code there that

[2016-06-05 18:05] stefangordon opened #284 "Why do we have two SSD1306 samples?"
I'm confused why we have this separate sample for the SSD1306 display via SPI accepted? https://github.com/ms-iot/samples/pull/113

I think this pull request was accepted in error - not only is it confusing to users because we already have the "SPIDisplay" sample (which is already an SSD1306 SPI driver), but the folder structure of the accepted PR is completely out of whack with the rest of the re

[2016-06-05 18:49] torbenvaering commented on #275
First of all, thanks for helping me!
I have no clue where it goes wrong. Sorry. I am a total newbie when it comes to win iot.

I just decided to start of with an easy example, and purchased the parts (mostly from eBay).

I have included a picture of my DHT11. I thought it was one vendors item name, and not a generic name.

I have tried different environment, and even exhaling on it, just to see if

[2016-06-05 19:34] TGoodhew commented on #275
Ahh – This doesn’t have anything to do with SmartFan & Galileo.

It’s not unheard of for components of EBay to be broken but Aosong is the original vendor of the DHT11 sensor.

This sensor uses the Dallas Semiconductor OneWire protocol – It’s unfortunate but we don’t have native support for that in IoT Core – How the sample is working is to basically trying to read the pulse width and then calcula

[2016-06-06 12:37] EdiWang commented on #284
I agree. I am also looking for the I2C version instead of SPI version of SSD1306, but I can not find it anywhere, seems nobody has written code for this on Windows 10.

[2016-06-06 12:43] EdiWang commented on #82
I have got a 315 MHz working, it's very straight forward, when your remote send signal to the receiver, the corresponding pin will output GPIO.High, so in your code, just check for the particular GPIO Pin input, there's really nothing special here. I think it's the same thing with 433 MHz also.

I have write a blog post about this http://edi.wang/post/2016/5/21/windows-10-iot-remote-door-control b

[2016-06-06 12:52] EdiWang opened #285 "Consider I2C Version of SSD1306 OLED 128x64 Display"
I see we have a "SPIDisplay" sample in the project. However, there's also I2C interface version for this display. Could you provide an I2C version of the SSD1306 OLED display sample?

Thanks in advance!

Reference: https://github.com/adafruit/Adafruit_SSD1306/tree/master/examples/ssd1306_128x64_i2c

[2016-06-06 12:55] EdiWang commented on #275
I use code from https://www.hackster.io/porrey/dht11-dht22-temperature-sensor-077790?ref=part&ref_id=9417&offset=15 seems to be accurate on my RPi3

[2016-06-06 16:13] stefangordon commented on #284
Yes I actually ported it to an i2c version, which is why I was investigating current state.  I'll get it put up somewhere later today and update here with a link if you need it @EdiWang  - will figure out how to get it merged in properly later.

[2016-06-06 17:16] IoTGirl commented on #129
Confirmed with Alan. No response in more than 1 month - Closing

[2016-06-06 17:16] #129 closed, assigned to alanch-ms

[2016-06-06 18:26] IoTGirl commented on #127
Blinky App has been updated to reflect 10586 (RTW) - Closing

[2016-06-06 18:26] #127 closed, assigned to ooeygui

[2016-06-06 18:28] IoTGirl commented on #228
Closing based on Fix by Jordan

[2016-06-06 18:28] #228 closed, assigned to jordanrh1

[2016-06-06 18:29] IoTGirl commented on #275
There is a previous temp issue as well. See https://github.com/ms-iot/samples/issues/228

[2016-06-06 18:35] IoTGirl commented on #285
Hi Edi,
StepnanGordan has already stated that he will provide a sample in the previous item you answered. See https://github.com/ms-iot/samples/issues/284.  I am closing this as a duplicate.
Sincerely,
IoTGirl

[2016-06-06 18:35] #285 closed, assigned to nobody

[2016-06-06 18:55] IoTGirl commented on #190
Closing as stale - No response for more than one Month

[2016-06-06 18:55] #190 closed, assigned to jessekaplan

[2016-06-06 20:09] IoTGirl commented on #234
Confirmed with Maggie - Closing

[2016-06-06 20:09] #234 closed, assigned to maglims

[2016-06-06 20:10] mjmeans opened #286 "Bluetooth device list shows duplicates in IoTCoreDefaultApp"
1. Connect using Windows IoT Remote Client (Preview) to IoTCoreDefaultApp in system using CSR 4.0 Bluetooth adapter.
2. Click on Settings and then on Bluetooth. Turn Bluetooth on. Observe list of devices able to pair.
3. Click the <- (back) button. Click on Settings again. Observe that the same devices are listed, but now they are listed twice.
4. Repeat #3 multiple times. Each time it is repeated

[2016-06-06 20:10] TGoodhew commented on #275
I also just heard that there is a performance regression in the .NET Native Toolset – I don’t know much more about that but you should try these two things first:
1. ```
     Turn on the Lightning driver
[code]

If they don’t help then try the other stuff I mention.

TonyG

From: Tony Goodhew
Sent: Sunday, June 5, 2016 12:34 PM
To: ms-iot/samples reply@reply.github.com; ms-iot/samples samples@nore

[2016-06-06 20:38] torbenvaering commented on #275
Hi TGoodhew (and other who helped),

I have installed the Lightning driver, but that only results in no data being read. So I'm ready to try the Native Tool Chain, but I can't find the tabs and menu you describe. I have Googled it, and can recognize what it looks like, but I can't get to it. This is what I see when I right click on the project name in the solutionexplorer:
![udklip0](https://cloud

[2016-06-06 21:56] IoTGirl commented on #63
@jpoon I would normally link to the fix, but in this case it looks like the fix has been in for quite some time so we do not have a direct change that we can point to.

[2016-06-06 21:57] IoTGirl commented on #286
Hi mjmeans,
Can you please confirm the devices involved? What preview build are you using?
Sincere thanks,
IoTGirl

[2016-06-06 22:01] TGoodhew commented on #275
Ahh – Sorry I thought you were using your own C# version of the sample - .NET Native doesn’t apply to the C++ case.

When you change to lightning you’ll need to change how you get the default controller. You do it this way:

void MainPage::InitGPIO()
{
    if (LightningProvider::IsLightningEnabled)
    {
        // Set Lightning as the default provider
        LowLevelDevicesController::DefaultPro

[2016-06-06 22:04] mjmeans commented on #286
Raspberry Pi 3 with CSR 4.0. The Bluetooth devices in question are: "[TV] Samsung LED46" which is actually a Samsung TV; and the other device is a laptop (Dell Inspiron 7537) which has built-in Bluetooth. I am available for a remote screen connection if you need to actually see it happen.

[2016-06-06 22:16] stefangordon commented on #284
@EdiWang I pushed my i2c sample here
https://github.com/stefangordon/IoTCore-SSD1306-Driver/tree/master/ssd1306/Display

It is basically the SPI sample but ported to I2C.  I've enhanced it with the ability to define images (of arbitrary size) in addition to fonts, and added a bit of inline documentation to display.cs.

I also created a little web app you can use to design images for the screen
htt

[2016-06-06 22:29] IoTGirl commented on #286
Hi mjmeans,   I have asked a member of the IoTCore Team to take a look. Sincerely, IoTGirl

[2016-06-06 23:42] EdiWang commented on #284
WOW! Thanks very much @stefangordon

That's exactly what I am looking for!

[2016-06-07 06:20] sely2k commented on #284
hi @stefangordon the two version is because the "original version" of the sample is not well fit for the oled display 1306 with 64 line

[2016-06-07 13:43] stefangordon commented on #284
May be best to improve the original sample as it is confusing this way.  If you are able feel free to assign this issue to me and I'll try to work on it in a few weeks.

[2016-06-07 15:48] mikestu commented on #234
I don't see that anything was changed for that sample, but this is now closed.  What does "Confirmed" mean...were you able to get it to work properly on your end?  Thanks!

[2016-06-07 16:49] IoTGirl commented on #234
The sample csProj states "Update SDK version to 10586 ".  This image does not support the Pi3 so this sample is not yet supported for Pi3.  Basically, if you are targeting Pi3, you are using a pre-release image and all samples are not expected to keep up with the myriad of changes in pre-release images.  Note that once a stable image is available, all samples will be run through a test pass for su

[2016-06-07 16:59] IoTGirl commented on #278
Hi Jason,   There is really not enough detail here to move forward.  Can you try and provide more information?  At Microsoft we collect all the information needed to see the issue here and I have a simple template that might help you provide the detail we need.

**ENVIRONMENT:**

What Computers, OS and devices are involved with this repro? How are they connected?

**REPRO STEPS:**

What steps woul

[2016-06-07 21:41] IoTGirl commented on #132
Closing - No update for more than 1 month so I assume the issue is solved.

[2016-06-07 21:41] #132 closed, assigned to SlavyMihov

[2016-06-08 02:23] jasonbu commented on #278
tks for reply
ENVIRONMENT:

Win10x64 10586，ble work with usb bcm20702,

REPRO STEPS:

clone the repo, work with samples/BluetoothGATT/CS,debug with local machine,tried x86 and x64 mode

RESULTS:

What did you Expect to happen?
I think x86 should work all right with x64 machine

What did Actually happen?
x64 work perfectly and x86 got null service pointer

NOTES:

as a x86 environment, it's unable

[2016-06-08 17:37] torbenvaering commented on #275
Thanks Tony! Where do I put that piece of code?

[2016-06-08 17:44] TGoodhew commented on #275
It isn’t a cut and paste – What I was showing with that piece of code is how you get the lightning controller for GPIO.

If you look at the GpioOneWire::MainPage::Page_Loaded() you’ll see where it creates the controller object:

GpioController^ controller = GpioController::GetDefault();
if (!controller) {
this->statusText->Text = L"GPIO is not available on this system";
return;
}

You want to repl

[2016-06-08 17:52] IoTGirl commented on #284
You are "Assigned". Thanks Stefan!

[2016-06-08 18:54] torbenvaering commented on #275
Thanks again Tony. I really appreciate you taking the time.

I don't think I'm going to do this project anyway. It is just too complicated for me. What I don't understand is why MS present this as something that is ready to go. I don't understand how the original example was able to produce a valid measuring.
But really. Thanks for helping!

[2016-06-08 19:36] TGoodhew commented on #275
This is a case where there are tight tolerances for the digital signal transitions and, unfortunately things can fall far enough apart that the same doesn’t work.

We have addressed this in the next version of Windows 10 IoT Core by enabling interrupts on digital pin transition so it makes the timing aspect much simpler and more reliable.

Personally I use I2S or SPI based sensors for temperature

[2016-06-08 20:28] IoTGirl commented on #114
Closed based on @zhuridartem's response

[2016-06-08 20:28] #114 closed, assigned to zhuridartem

[2016-06-08 20:44] IoTGirl commented on #278
These samples are targeted for IoT Core of which there is no x64 version.  Can you tell me which board you are using? MBM, RPi or DragonBoard 410c?

[2016-06-15 01:22] fumiya-kume opened #292 "VB version Blinky ?"
Is there a VB version of the Blinky?

[2016-06-15 05:46] IoTGirl commented on #292
Hi fumiya-kume,
There is no VB version but there is a C# version - See https://developer.microsoft.com/en-us/windows/iot/win10/samples/blinkyheadless.  There is no reason you could not use the logic in the C# version to create a VB project.

More sample links are available from https://developer.microsoft.com/en-us/windows/iot/win10/StartCoding.htm

Sincerely,
IoTGirl

[2016-06-15 12:27] Maarten88 commented on #114
We tried to get the Sample to work with our Gen 5 Z-Stick on Pi 2 and could not get it to recognize the device. Tried installing manually, copying .inf files as per the suggestion above, but could not make it work.

I think this is a problem, because the Series 2 hardware is getting hard to find, while the Gen 5 is everywhere. It's hard to follow the sample when you can't buy the hardware to make

[2016-06-15 12:29] AndreyShpilevoy commented on #114
@Maarten88 check this article: http://jellebens.blogspot.com/2016_02_01_archive.html?m=1

[2016-06-15 13:34] Maarten88 commented on #114
Tnx @AndreyShpilevoy, that was exactly what I tried, and indeed it reports "Driver is running". So maybe USB does work. Yet the sample still does not report any devices/sensors... I'm stepping through it with the debugger (my c++ is very rusty) and see no obvious errors, but it does not find any sensors (in IoT Explorer for Alljoyn)... Is there anything stupid I might be missing?

[2016-06-15 17:24] stephenhuang commented on #208
Hi guys,
I've passed this on to my team. We'll be looking at revamping some of the samples (including this one) at the end of the month. I'll keep you updated

[2016-06-15 17:25] IoTGirl commented on #117
Confirmed - Closed

[2016-06-15 17:25] #117 closed, assigned to stephenhuang

[2016-06-17 09:25] jasonbu commented on #278
just pc... what amazing uwp...

[2016-06-19 19:43] MarkDGithub commented on #114
I also installed the driver for the Z-stick gen 5 and it reports "Driver is running".
I followed these steps to setup the device: https://developer.microsoft.com/en-us/windows/iot/win10/samples/zwavetutorial
It says "Launch IoT Explorer for AllJoyn app. The app should find the following three devices:"

I stil don't see any device except the "ZWave Bridge"

[2016-06-20 04:34] dotMorten commented on #114
@TheFlyingDutchMark Is your z-stick correctly paired with your z-wave devices?

[2016-06-20 09:55] MarkDGithub commented on #114
@dotMorten
Thank you for the response
When I plug in the z-stick in my pc I can see that the stick is paired with my smoke alarm. I'm using the tool from aeontec to diagnose the z-stick on my normal PC.
But when I connect it to my raspberry it doesn't show my stick at all in the IoT Explorer for AllJoyn app.

[2016-06-20 14:49] dotMorten commented on #114
I think your next step is to download the source code for the zwave adaper in this repo and step through it to see where it stops. I'm guessing the adapter doesn't work quite as well as you think and isn't really found? If so, check around here if it finds an adapter: https://github.com/ms-iot/samples/blob/develop/AllJoyn/Samples/ZWaveAdapter/AdapterLib/ZWaveAdapter.cpp#L646

Also you can try and

[2016-06-20 16:11] jordanrh1 commented on #267
Use `System.Diagnostics.StopWatch`.

[2016-06-20 16:12] jordanrh1 commented on #265
Yes, that is expected.

[2016-06-20 16:12] jordanrh1 commented on #263
No, C++ only.

[2016-06-20 16:18] IoTGirl commented on #267
Hi Scott,
I am closing based on answer given.  Please reopen if this does not address your question.
Sincerely,
IoTGirl

[2016-06-20 16:18] #267 closed, assigned to jordanrh1

[2016-06-20 16:18] #265 closed, assigned to jordanrh1

[2016-06-20 16:19] #263 closed, assigned to jordanrh1

[2016-06-20 16:20] #292 closed, assigned to IoTGirl

[2016-06-20 16:23] IoTGirl commented on #275
Hi torbenvaering,
I am sorry to hear that you have abandoned this project but I do hope you start another!
As there have been no more questions from you, I am closing this issue.
Sincerely,
IoTGirl

[2016-06-20 16:23] #275 closed, assigned to TGoodhew, IoTGirl

[2016-06-20 16:41] IoTGirl commented on #286
Fixed

[2016-06-20 16:41] #286 closed, assigned to rachitb777

[2016-06-20 20:44] MarkDGithub commented on #114
@dotMorten
Maybe you're right. I loaded the files and the app is running. I'm going to figure out this week if it finds something. I'll post an update.

[2016-06-21 19:12] MarkDGithub commented on #114
@dotMorten
I ran the headed app from the source code and put breaks around line 646. To see what was going on I put a watch on "this pointer" in L645. I see the "ZWaveBridge" in there, but that's it. It doesn't find the Z-stick Gen5. So I think the result is the same as before with the raspberry and the IOT explorer.

I'm really wondering if there is somebody who has the gen5 working. I can't find

[2016-06-21 19:52] MarkDGithub commented on #114
I found something. When I add a watch for the string path, I see the value "VID_10C4&PID_EA60".
When I looked in windows device manager I found that the Z-Stick has as path "VID_0658&ID_0200".
So I manipulated the code by adding "path = "VID_0658&PID_0200";" to line 641. When I open the IoT explorer, I saw the ZWaveBridge is gone and the Z-Stick Gen5 is visible! But no paired device.

[2016-06-27 18:13] MarkDGithub commented on #114
I think I found a solution for the Z-Stick Gen5.
First I did what AndreyShpilevoy wrote:

Additionally I edited the options.xml files in the project folder.
I changed the line

`<Option name="ControllerPath" value="VID_10C4&PID_EA60" />`
to
`<Option name="ControllerPath" value="VID_0658&amp;PID_0200" />
`

Now when I open IoT Explorer I can see the adapter!

[2016-07-14 22:57] rachitb777 commented on #78
We have added Keyboard layout setting in the IoTCoreDefaultApp. Skip OOBE and then goto settings to change the keyboard layout.

[2016-07-14 22:57] #78 closed, assigned to rachitb777

[2016-07-14 23:12] #189 closed, assigned to rachitb777

[2016-07-15 05:43] tomkuijsten commented on #189
Is it fixed?

[2016-07-15 16:26] zhuridartem commented on #163
Latest implementation for DSB templates and AllJoyn Studio output for managed do support CoreCLR, which is required to run on IoT Core anyways.

For DSB example, please take a look under https://github.com/ms-iot/samples/tree/develop/AllJoyn/Samples/ZigBeeAdapter/HeadlessAdapterApp. In project.json it calls out "Microsoft.NETCore.UniversalWindowsPlatform": "5.0.0" dependency. In HeadlessAdapterApp

[2016-07-15 16:26] #163 closed, assigned to zhuridartem

[2016-07-15 17:37] grahamehorner commented on #163
I think that support for coreclr should be done in a platform agnostic way similar to the way the aspnetcore team use libuv for kestrel, .net should have a AllJoyn implementation abstraction layer, this allowing .net cross platform AllJoyn applications.

[2016-07-15 19:02] IoTGirl commented on #151
Hi demon-xxi,
My apologies regarding the time it has taken to reply but the team is confident they know the source of the issue now and have added a work item to their Agile backlog.
My understanding is that this will involve changes to the AllJoyn Explorer to add missing interface descriptions but as the team is Agile, I can not give you a timeline for when this issue will be addressed.
Sincerely

[2016-07-15 19:02] #151 closed, assigned to zhuridartem

[2016-07-19 21:47] rachitb777 commented on #146
This is fixed now. It might still wrap on low resolution displays as there is simply no way to show enough information.

[2016-07-19 21:47] #146 closed, assigned to bfjelds

[2016-07-21 06:15] TimmiT93 commented on #114
I doubt if changing the ControllerPath is the right way to go.

The AllJoyn Z-Wave Bridge sample still didn't work with the Z-Stick Gen 5 after installing the drivers described in Jelle Bens his blogpost. What I did is replacing the 'config' folder in the OpenZWave project by this one: https://github.com/OpenZWave/open-zwave/tree/master/config. In this folder you can find all (newer) config files

[2016-07-23 21:02] rudman11 opened #306 "IoTBrowser"
Is there a way to set the proxy settings for the IoTBrowser running on RasPi 3 using Windows IoT Core?

[2016-07-25 21:00] IoTGirl commented on #306
I'll need to do more digging but I suspect you will need to use a UWP version of WinHTTP.SetProxy.  Here is a previous version of the documentation [https://msdn.microsoft.com/en-us/library/windows/desktop/aa384069(v=vs.85).aspx](https://msdn.microsoft.com/en-us/library/windows/desktop/aa384069%28v=vs.85%29.aspx)

Update: Did more digging and did not come up with an easy solution so I have asked t

[2016-08-01 18:48] IoTGirl commented on #223
Hi Mika,

there was a big push done for connectivity work on RPi2&3 for builds 14366 and higher.  Are you still seeing this issue? If so can you tell us more about your environment?

Sincerely,
IoTGirl

[2016-08-03 04:20] ghost opened #311 "DigitalSignageUAP"
specify a new config file to read from at the location you specify - this feature does not work. I have tried many times in different ways including string "Assets\confignew.xml" with or without quotes but it never work. The result is it will always pick up the original @"Assets\config.xml". Can someone please look at this. Thanks!

[2016-08-08 19:49] dotMorten opened #313 "Allow the DSB bridge to reuse the object path when multiple interfaces uses the same objectpath"
Currently if you add multiple interfaces to a device on the DSB, the object path must be unique for each interface. If the path is already used a new path is created with a number as postfix.

Instead if the path is already created, it should be reused, so you can have multiple interfaces on the same objectpath.

I've already done this on my own improved DSB. The changes required can be seen here:

[2016-08-08 20:03] dotMorten opened #314 "Allow to add Methods and Signals to specific interfaces on the DSB Bridge"
Currently signals and methods can only be added to a single "MainInterface" interface, however properties can be added to their own interfaces. This makes it completely impossible to use the DSB to follow specific interface designs.

Please make it so signals and methods can join the properties in their rightful places by allowing us to specify the object path and interface name for them.

[2016-08-08 20:03] dotMorten commented on #314
/CC @zhuridartem

[2016-08-08 23:16] zhuridartem commented on #314
Thank you for the feedback. This is a known current limitation.
To unblock anybody for adding signals and methods to a specific interface: please follow similar model as LSF and Control Panel special handler in BridgeRT.

DSB was designed to project a generic device to an AllJoyn representation. Current implementation has a limitation for projecting to a specific AllJoyn service standard. To enabl

[2016-08-08 23:32] dotMorten commented on #314
@zhuridartem If I were to rewrite the DSB so a `IDeviceAdapter` instead has an `IVector<IDeviceBusObjects>` which in turn has list of `IVector<IDeviceInterfaces>` which has a collection of properties, methods and signals, would you be open for changing the DSB here? If not, I'll probably create my own (competing :smile:) version
I can see a huge benefit of this for especially .NET developers, beca

[2016-08-09 22:18] jhutchings1 commented on #313
Hey Morten,
Thanks for your contributions! Unfortunately, our dev team is heads down on coding right now and won't be able to look at pull requests for the DSB project right now. We'll check back when we've got more bandwidth to validate your changes.

Thanks!

[2016-08-11 07:40] dotMorten commented on #314
If anyone is interested, just published my modified (read: much improved :smile:) DSB to nuget: https://www.nuget.org/packages/dotMorten.AllJoyn.DSB/

Now you can create bridge devices in just a few lines of code, like this HAE device: https://github.com/dotMorten/AlljoynDSB/blob/dev/src/AllJoyn.Dsb.MockDevices/MockCurrentTemperatureDevice.cs#L58-L67

This meant I could delete a HUGE amount of cod

[2016-08-12 06:43] ghost opened #317 "of DigitalSignageUAP method reloadContentTimer_Tick does not work."
on line 69 of MainPage.xaml.cs:
"if (time.Hour == 0 && time.Minute == 0) // we want the content reload happens only at 0:00 every day, exact mid-night"
I made changes to config.xml however the contents did not get reloaded at mid-night. Can you please advise me? Thanks so much!

I have tried to change the condition above to "if (time.Hour != 0 && time.Minute != 0)" so it reloads every minute as sp

[2016-08-25 11:45] ghost opened #325 "documentation issue"
reference https://developer.microsoft.com/en-us/windows/iot/samples/zwaveadapter

it seems the documentation does not reflect the code changes, for example

"Once the solution has been opened in Visual Studio, Navigate to the Solution explorer and right click the ZWaveBackgroundService project. Select “Set as Startup Project”. "

but the current solution does not include a ZWaveBackgroundService .

[2016-08-26 23:44] steven045 commented on #325
I am having a similar issue. When I open the ZwaveAdapter solution from Visual Studio 2015, I don't see ZwaveBackgroundService. I See something completely different.  The tutorial mentions to set ZwaveBackgroundService as startup project. Has something changed from the tutorial?

[2016-09-01 21:49] IoTGirl commented on #325
This should be addressed with @jhutchings1 merge.

[2016-09-01 21:49] #325 closed, assigned to nobody

[2016-09-07 21:14] stephenhuang commented on #208
Hi guys, after consulting with the team, we'd like to put out an open request to change the sample to not depend on a specific 3rd party device - our focus is less on the sensortag and more on Bluetooth

[2016-09-14 21:28] #206 closed, assigned to bfjelds

[2016-09-14 21:49] MfCAYO commented on #206
thanks again, I applied your advice and usability and reliability are now excellent!

[2016-09-16 14:24] saicharan747 opened #336 "DHT22 sensor"
I just did your application on windows 10 iot  core and I  tried with both the  sensors like dht11 and dht22 and the  application is deploying on to my pi correctly and the output is same as yours and problem is like I cannot able to see the readings on it (the connections are given exactly like what you have said and brought almost 2-3 sensors for checking but I still get the same issue).so can u

[2016-09-21 21:43] mce1978 commented on #208
From your point of view I can understand why you want to do that. That's fine! However, this "popular" device has barely got any "good" C# code out there. We, and our customer, wanted to try this device together with the Windows 10 raspberry pie for a proof of concept industry thing. We have dropped that idea, seems like it is easier to go the linux route.

[2016-09-26 18:58] IoTGirl commented on #336
Hi Saicharan,  Please take a look at [http://stackoverflow.com/questions/30082322/windows-10-iot-raspberry-pi-2-dht22-am2302](http://stackoverflow.com/questions/30082322/windows-10-iot-raspberry-pi-2-dht22-am2302) as it explains the precision required for the sensor you are asking about.
Sincerely, IoTGirl

[2016-09-26 18:58] #336 closed, assigned to nobody

[2016-09-30 12:25] jwillmer opened #342 "Blockly not working"
## Setup
- I have a Raspberry 3 with sense hat
- I deployed the latest Windows IOT on it.
- I used the IOT Dashboard to deploy blocky.
## Problems
- ~~With the stable Windows IOT image I can't reach the web interface of blockly - config interface is available~~
- With the preview image I can reach the web interface of blockly but the `run` command does not produce any change on the sense hat.

[2016-09-30 12:31] jwillmer commented on #342
After a restart the heartbeat example is working on Windows IOT Preview but updating the heartbeat does not work.

I get this exception on the command line of Chrome:

[code]

[2016-09-30 16:01] gourabSh07 commented on #342
I also have almost same problem Windows IOT image I can't reach the web interface of blockly
I am using windows build  14393

[2016-09-30 16:09] jwillmer commented on #342
I was now able to reach the web interface on the stable build after redeploying the build and the app.

I also managed to get the heartbeat to run after pressing countless times on run but the method is not relayent.

[2016-10-03 02:45] PRIMETSS opened #343 "IoTConnectClient"
With IoTHub EastUS (location AUST) with DeviceManagement Preview Enabled
Latest IoTConnectCLient running on RasbberyPi 3

Always get connection error when sending messages to IoTHub

'Status: An error occurred. Please log out and log in with the correct credentials.'

Using hostname from Properties Page and PrimaryKey from Shared Access Policies

[2016-10-03 03:16] PRIMETSS commented on #343
Worked it out, The Shared Key is for the Device, and you need to create a new Device (Devices Button In Azure Greyed out otherwise)

https://azure.microsoft.com/en-us/documentation/articles/iot-hub-csharp-csharp-getstarted/

[2016-10-03 05:34] IoTGirl commented on #343
Note that this forum is Windows IoT. Please leverage the resources at [Azure IoT Hub.](https://azure.microsoft.com/en-us/services/iot-hub/)

[2016-10-03 05:34] #343 closed, assigned to nobody

[2016-10-03 05:38] IoTGirl commented on #342
Can you please provide a link to the Microsoft Sample you are referring to that is failing?

[2016-10-03 06:34] jwillmer commented on #342
[IOT Blockly](https://github.com/ms-iot/samples/tree/develop/IoTBlockly)

FYI the blockly example is one of 4 examples that you can automatically download and install to your Raspberry PI via the `IOT Dashboard`. I think it is pretty bad that a promoted example does not work.

[2016-10-03 15:41] IoTGirl commented on #342
Excellent! Thank you for the link. Assigned @rachitb777 to take a look.

[2016-10-03 18:46] rachitb777 commented on #342
@jwillmer Do you see IoTBlocklyBackgroundApp [Startup] listed in the apps page in Windows Device Portal?

[2016-10-03 19:11] jwillmer commented on #342
Of course, how else would I be able to browse to the website?

[2016-10-07 23:01] alecont commented on #342
thanks for the feedback! We'll look into this in the next couple of days. We made a couple of changes to the source code here on github which are not reflected yet on the appx deployed by IoT Dashboard.

[2016-10-08 07:25] PRIMETSS opened #345 "DigitalSignageUAP Video"
**Device Name:  Win10CoreIoT
Device Model:   Raspberry Pi 3
OS Version: 10.0.14393.0**

and

**Device Name:  Win10CoreIoT
Device Model:   Raspberry Pi 3
OS Version: 10.0.14393.187**

Debug rate counter
[App fps] [App cpu]
000           002

[Sys fps] [Sys cpu]
064         003

The sample app on a Pi3 is displaying poor video, missing frames. MP4 or WMV
using Pi 7" Touch Display, or via HDMI
(No Au

[2016-10-09 19:40] OwenBrotherwood commented on #342
@jwillmer
How about testing with and without Windows IoT Remote Server enabled.
Both the example and the remote server seem to be using the same port, 8000.
That is, do not start the remote server and deploy the sample.

Edit
Hw: 10.0.14393.0 Pi3
Commit: https://github.com/ms-iot/samples/commit/44daa3131eeb71d8b60215115b12f99f403a93d0

[2016-10-09 22:24] jwillmer commented on #342
@OwenBrotherwood I can try it but the `Windows IoT Remote Server` is not using port `8000` it uses `8080` as default. Anyhow I think the example should work without any hack.

[2016-10-10 09:01] OwenBrotherwood commented on #342
@jwillmer :
Windows IoT Remote Server is NOT started by default: it is up to the administror to start it: a choice that can be affected by the other software chosen to be run on the unit ie NOT a hack
The Web Interface uses 8080 (where one enables Remote Server)

@alecont The example will work, however the port used should be changed from 8000 to some other port plus a clear indication where in th

[2016-10-10 09:14] jwillmer commented on #342
@OwenBrotherwood I mixed up the `Device Portal` with the `Windows IoT Remote Server`. The `Windows IoT Remote Server` was not active. I deployed a clean install of `Windows IoT` and used the `IoT Dashboard` to deploy `blockly`

[2016-10-10 09:16] OwenBrotherwood commented on #342
@jwillmer
Is your status, No Windows IoT Remote Server aktive and Blockly works?

[2016-10-10 09:33] jwillmer commented on #342
Yes, I see the Blockly web page but I am unable to start any template.

[2016-10-10 09:36] OwenBrotherwood commented on #342
@jwillmer OK I do not have a sense hat: I want to use the example as a start to integration to https://www.microbit.co.uk/ which has strong links to microsoft
-- and create a pull request for the result if I ever get that far.
Edit: https://github.com/ms-iot/samples/blob/6d70b2a8f1d951a59491c180ee87a019c869b1f8/IoTBlockly/IoTBlocklyHelper/SenseHat.cs#L235
Edit Edit: https://github.com/ms-iot/virtu

[2016-10-10 09:39] jwillmer commented on #342
@OwenBrotherwood Yes, there is for instance a heartbeat demo that I tryed to run

[2016-10-10 23:21] OwenBrotherwood commented on #342
@jwillmer /cc @IoTGirl @alecont @rachitb777
The line of code that dictates port 8000  (grep -r 8000 *)
I have to double check the port used by Remote server and try and make a pull request with the port as a configurable option with a default that does not conflict with the standard ports used with the startable services, such as Remote Server
https://github.com/ms-iot/samples/blob/44daa3131eeb71d

[2016-10-12 15:08] dotMorten opened #346 "Can't deploy OIC Adapter to remote device"
Something is wrong with the project settings of the Headless Adapter app in the OIC service. I don't get to pick a remote device.

![image](https://cloud.githubusercontent.com/assets/1378165/19315467/a1599edc-9052-11e6-978d-75acede2b418.png)

The project debugging settings show this:
![image](https://cloud.githubusercontent.com/assets/1378165/19315558/ffb836a0-9052-11e6-81a3-fe62bb9cf093.png)

Try

[2016-10-12 15:24] dotMorten commented on #346
Seems like something is borked on my Visual Studio installation. Doesn't work for any C++ background tasks (C# projects works however).

[2016-10-12 15:24] #346 closed, assigned to nobody

[2016-10-12 23:05] lflct commented on #346
I just tried opening that project in VS 2015 Update 3 and I can see the Remote Device option in the list of debuggers, so I believe you're right, the problem is not with the project itself. Make sure you have the latest files, though, just in case.

[2016-10-13 20:01] IoTGirl commented on #240
Hi GrahamHorner,  This issue has been reviewed and your feature request has been passed to the Azure Team that supports gateway solutions.  We have no way of tracking it from this end so this request will be closed.  Sincere thanks for your request/idea.  IoTGirl

[2016-10-13 20:01] #240 closed, assigned to arturl, rachitb777

[2016-10-15 00:52] IoTGirl commented on #345
Hi PRIMETSS,
Have you tried this on other IoT Core platforms?  There are known issues with the GPU on RPi not supporting Direct X and therefore the graphics performance suffers.
Sincerely,
IoTGirl

[2016-10-15 07:21] PRIMETSS commented on #345
Not yet, does anyone have recommendations on board on a board they have tried that doesn't have this problem?

[2016-10-15 23:48] OwenBrotherwood commented on #342
quick update and I may forget to update when finished
A change of port to 8001 did not help.
I have not as yet scanned if the port is already used
I disabled the remote server again as I want to see the Astro work.
I have a blicking red heart

"And it is goodnight from me at the Windows 10 IoT workshop"

Edit:
[Coding Pirates Silkeborg Lyd og Lys](https://www.facebook.com/CodingPiratesSilkeborgLyd

[2016-10-16 06:48] jwillmer commented on #342
@OwenBrotherwood so now you can reproduce the problem?

[2016-10-16 18:57] OwenBrotherwood commented on #342
@jwillmer The example works if remote server is disabled.

The device was used for 8 hours at this Maker Faire in Århus, Denmark with the Blocky example

The last minute of the video shows the stand I was playing at (with 7 inch red screens)

https://www.facebook.com/karinhoegh/posts/10154792942724610

[2016-10-17 18:57] IoTGirl commented on #345
We have a video loop running on an MBM at the office without issue. Basic HD TV resolution, nothing fancy.  I would take a look at some of the other IoT Core offerings at [https://azure.microsoft.com/en-us/documentation/articles/iot-hub-tested-configurations](https://azure.microsoft.com/en-us/documentation/articles/iot-hub-tested-configurations) that are based on the same Intel chipset.

[2016-10-18 20:12] IoTGirl commented on #223
Closing based on no response after more than a month

[2016-10-18 20:12] #223 closed, assigned to maglims

[2016-10-19 02:40] djaus2 opened #350 "In the invitation to contribute, first link is broken: Aceess Not Authorized"
You must have a page on the **IoT Core samples page** corresponding to your code <-- This link

[2016-10-19 16:01] gourabSh07 commented on #342
After disabling  Remote Server i was able to get web interface of iot blockly but heart example is not working for me do i have to do something else to run it ??

[2016-10-20 05:37] OwenBrotherwood commented on #342
The heart example works for me

[2016-10-21 21:39] IoTGirl commented on #350
Page is: [https://github.com/ms-iot/samples/blob/develop/README.md](https://github.com/ms-iot/samples/blob/develop/README.md)

Bad Link: [https://developer.microsoft-int.com/en-us/windows/iot/samples](https://developer.microsoft-int.com/en-us/windows/iot/samples)
Correct Link: [https://developer.microsoft.com/en-us/windows/iot/samples](https://developer.microsoft.com/en-us/windows/iot/samples)

[2016-10-24 06:13] IoTGirl commented on #350
This should be fixed now.

[2016-10-24 07:40] djaus2 commented on #350
OK it works now thx.
Closing

[2016-10-24 07:40] #350 closed, assigned to nobody

[2016-10-24 18:00] IoTGirl commented on #350
Thanks!

[2016-10-26 15:39] djaus2 commented on #350
IoTGirl,
I am just trying to get my head around contributing to the ms-iot/Samples repository.
To get things going, I have created a simple project to add, rather than modify an existing project.

OK I have forked and cloned the whole repo and will add my project as a new folder.
I will create a README.md for my project.

My question is what how do I action: You must have a page on the IoT Core sa

[2016-10-26 15:43] djaus2 commented on #350
So do I need to get an .md file into https://github.com/ms-iot/content/tree/develop/en-US/Samples?
In my case my project is called NoPopUps so I will need https://github.com/ms-iot/content/tree/develop/en-US/Samples/NoPopups.md??
So do I need to for the contents repo, place my NoPopups.md there and get it accepted, its sounding a bit recursive??

[2016-10-26 19:56] IoTGirl commented on #350
Hi David,
You need a description for the samples page and a page for your sample, does that clarify? If you take a look at some of the other samples in the repository you should get an idea of what is needed.
Sincerely,
IoTGirl

[2016-10-27 06:22] djaus2 commented on #44
Why not keep that file with the project code in the MS-IOT/Samples<proj> repository? That way updates to the documentation can be part of the specific project updates. Could have an automatic copy mechanism to https://github.com/ms-iot/content/tree/develop/en-US/Docs.

PS I am looking at contributing a new project to Samples. How do I currently get my <proj>.md file up into Docs?

[2016-10-28 12:23] djaus2 opened #357 "Adding a new project to Samples ??"
OK so if I wish to improve the code of a Samples project I fork Samples into my GitHub workspace make the improvements then do a Pull Request back.

But what if I wish to add a new project to Samples? I have forked Samples to my GitHub space and added my new project folder to the forked Samples folder. I have created a README.md in the root of the new project folder and also added a detailed **pro

[2016-10-31 23:01] #260 closed, assigned to alanch-ms

[2016-10-31 23:14] IoTGirl commented on #278
Sorry Zeeshan, I have no BT hardware.

[2016-11-02 23:21] IoTGirl commented on #278
Hi JasonBu,

I have some more information for you:
- There are some known issues with Bluetoooth GATT on IoTCore ( See [https://social.msdn.microsoft.com/Forums/en-US/3c6bb41c-6f1d-4e11-ba3a-fac208721bc7/new-flight-14955-released?forum=WindowsIoT](https://social.msdn.microsoft.com/Forums/en-US/3c6bb41c-6f1d-4e11-ba3a-fac208721bc7/new-flight-14955-released?forum=WindowsIoT))
- These samples are foc

[2016-11-03 03:40] jasonbu commented on #278
um... I'm just using desktop computer with x64 14393 Enterprise now,  when i found the trouble I'm using 10586 x64 Enterprise desktop... maybe it's not tested with my platform

[2016-11-10 20:39] shubhamkumarnayak opened #362 "Timeout Issue in GpioOneWire"
When Application starts for the first time I am getting the temperature and humidity and after that I am getting Time Out Issue, again data is coming after 1 minute for a blink and getting the same error
Device: DHT22

[2016-11-14 18:57] jordanrh1 commented on #362
Are you using the 'master' branch or the 'preview' branch? There are known issues with the sample that will be fixed in the next OS version.

[2016-11-15 19:55] shubhamkumarnayak commented on #362
Master branch

Sent from my iPhone

[2016-11-16 19:16] jordanrh1 commented on #362
Please try the 'preview' branch on the latest OS version.

[2016-11-17 12:22] shubhamkumarnayak commented on #362
ok thanks.

On Thu, Nov 17, 2016 at 12:46 AM, Jordan Rhee notifications@github.com
wrote:

##

Shubham.....

[2016-11-19 16:29] karmaecrivain94 opened #371 "What needs to be adjusted to get the SPIDisplay to work with a SH1106 controller?"
I've spent several hours (closer to days) trying to get the SPIDisplay sample to work with a 128x64 SH1106 controller, without any success. From what I've found online, the SH1106's RAM is 132x64, even if there are only 128*64 pixels on the screen, and the initialization instructions are slightly different. I've done both changes, but I've still only got the following on the screen:

![OLED](http:

[2016-11-19 22:41] PRIMETSS commented on #371
Looks at least like your managing to write to Display Ram...
Is the Column Remap ADC set correctly? So Col / Segment is not swapped over?
Looking at Memory Address layout Im calculating its 8 bits (Data) x 64 Line Addresses (LA 00H-3F) x 132 Col (00H->83H) = 67584 bits Per Page x 8 pages  = 540672 bits
So looks like 132 Col x 64 Lines x 8 bit (Display Data)
Im confused about the Common Output mode

[2016-11-21 13:10] djaus2 commented on #357
I'm working on a "parallel" site to list Community ms-iot samples

[2016-11-26 13:50] JohnGalt1717 opened #373 "Windows.Devices.Gpio namespace not available IoT Extensions Installed"
None of the samples will work on 3 different installs of Visual Studio 2015 Update 3 Enterprise fully patched. The samples include the IoT extensions in references and there is no error showing on them but in code the namespace isn't available and it fails to compile saying that GpioController doesn't exist etc.

Updating the nuget packages doesn't make any difference.  Rebuild, clean etc. doesn't

[2016-11-28 15:42] Tak1wa opened #374 ""Windows IoT Core Project Templates for VS 2017" tree position is wrong."
At the Project Creation Wizard
It should be [Visual C #] -> [Windows Universal], but it is under [Visual C#] -> [Windows Classic Desktop]

[2016-11-30 21:02] IoTGirl commented on #373
Hi John,
This is usually due to mis-matched tools versions. There are many threads like this one in the Windows IoT MSDN forums for example [https://social.msdn.microsoft.com/Forums/en-US/fe438536-67e0-4771-a462-c64a64f8bfeb/windowsdevicesgpio-not-in-namespace?forum=WindowsIoT](https://social.msdn.microsoft.com/Forums/en-US/fe438536-67e0-4771-a462-c64a64f8bfeb/windowsdevicesgpio-not-in-namespace?f

[2016-11-30 21:02] #373 closed, assigned to nobody

[2016-11-30 21:02] bfjelds commented on #374
Thank you for the feedback.  Are you building the templates yourself?  What version of VS2017 are you installing the templates for (VS2017 Preview 4, Preview 5, RC)?

Our goal will be for it to be a peer to Windows Universal.  That said, we haven't finished working on compatibility with VS2017 yet.

[2016-11-30 23:52] IoTGirl commented on #362
Hi Shubham,
Do you have an update?
Sincerely,
IoTGirl

[2016-12-01 08:09] juunas11 opened #376 "Blockly sample web server uses same port as the Remote Server"
I was trying to get the IoTBlockly sample application installed from IoT Core Dashboard onto my Raspberry Pi 3 and had an issue with the background service crashing. I cloned the repo and ran it from VS. The result was an error like this:

    Exception thrown: 'System.Runtime.InteropServices.COMException' in mscorlib.ni.dll
    WinRT information: Only one usage of each socket address (protocol/ne

[2016-12-01 12:43] jwillmer commented on #342
Works now (for me) with the latest IOT Preview build: `10.0.14931.1000`

Steps to reproduce:
- Start Win10 IOT Core Dashboard
- Insert empty SD card
- Deploy latest IOT Preview build
- Setup WIFI
- Use Win10 IOT Core Dashboard to install blockly
- Browse to x.x.x.x:8000

[2016-12-01 12:43] #342 closed, assigned to alecont

[2016-12-01 14:11] dnkmk commented on #342
Shouldn't that be version 14971.1000?

Sent from my Windows 10 phone

From: Jens Willmer<mailto:notifications@github.com>
Sent: Thursday, December 1, 2016 13:43
To: ms-iot/samples<mailto:samples@noreply.github.com>
Subject: Re: [ms-iot/samples] Blockly not working (#342)

Works now with the latest IOT Preview build: 10.0.14931.1000

-
You are receiving this because you are subscribed to this threa

[2016-12-01 14:28] jwillmer commented on #342
I installed the latest preview build version the Win10 IOT Dashboard found. For me it was 14931 but I see right now that there is a update scheduled.

[2016-12-01 14:34] jwillmer opened #377 "Add save functionallity to blockly example"
The blockly example is really cool but it would be great to save 1-2 self made examples to show friends and tell `I coded that!`.

[2016-12-01 14:44] dnkmk commented on #342
Okay,

Could it be you forgot to choose “Custom” for device type during new device setup?
Not choosing custom results in a production setup I think….

Van: Jens Willmer [mailto:notifications@github.com]
Verzonden: donderdag 1 december 2016 15:29
Aan: ms-iot/samples <samples@noreply.github.com>
CC: dnkmk <daniel.komkommer@outlook.com>; Comment <comment@noreply.github.com>
Onderwerp: Re: [ms-iot/sam

[2016-12-01 19:39] IoTGirl commented on #377
Hi Jay,
You should be able to make your own projects and even build your own images with the information that can be found through WindowsOnDevice.com.  Specifically please see [WindowsOnDevice.com>Samples](https://developer.microsoft.com/en-us/windows/iot/samples).
Sincerely,
IoTGirl

[2016-12-01 19:39] #377 closed, assigned to nobody

[2016-12-01 19:51] IoTGirl commented on #345
No update for more than 1 month - closing.  Please see the MSDN IoT Forums for more questions regarding IoTCore.

[2016-12-01 19:51] #345 closed, assigned to nobody

[2016-12-02 07:34] shubhamkumarnayak commented on #362
yep It is working now, I created a cli from the project and using it from
c# to get the data and it is working perfectly... :)

On Thu, Dec 1, 2016 at 5:22 AM, IoTGirl <notifications@github.com> wrote:

--
Shubham.....

[2016-12-02 19:24] bfjelds commented on #374
It looks like the RC has two states ...

1. If the C++ UWP templates are installed, they will show up under **Templates > Visual C++ > Windows > Windows Universal**.

1. If the C++ UWP templates are NOT installed, a node for installing the templates will show up as **Templates > Visual C++ > Windows Universal**.

[2016-12-05 07:20] IoTGirl commented on #374
Hi Tak1wa,
Based on Brian's check in I am closing this issue.  Please reopen if you feel the problem has not been addressed.
Sincerely, IoTGirl

[2016-12-05 07:20] #374 closed, assigned to nobody

[2016-12-05 07:22] IoTGirl commented on #362
Great! I am closing this issue based on your success.

[2016-12-05 07:22] #362 closed, assigned to nobody

[2016-12-05 07:24] IoTGirl commented on #128
Hi Brian,
Has this issue been suitably captured so that it might be closed?
Sincere thanks,
IoTGirl

[2016-12-05 18:12] IoTGirl commented on #306
Hi Rudman,
The team has accepted this request as a work item and have added it to their backlog.

As this team works on the agile model, I can't give you a timeline for this feature to be implemented.

Sincerely,
IoTGirl

[2016-12-05 18:12] #306 closed

[2016-12-05 18:28] IoTGirl commented on #208
Hi MCE1978,
I have re-consulted the team and again, they would like to focus on getting generic support rather than any specific device.  I am closing this request as rejected but a third party could certainly tackle any third party hardware support.
Sincerely,
IoTGirl

[2016-12-05 18:28] #208 closed, assigned to nobody

[2016-12-05 19:17] stefangordon commented on #284
My fork is still there for people who want an i2c version, but I have not had a chance to integrate into the repo yet.  Given it isn't actually a bug we can probably close the issue if appropriate.

[2016-12-07 04:06] ooeygui commented on #357
Hi @djaus2
Our documentation is currently set up to be localized in ms-iot/content. For example, the documentation for HidInjector project which is on the ms-iot/Samples site is actually in content https://github.com/ms-iot/content/blob/develop/en-US/Samples/HidInjector.md.

To add a sample:

  * Add fork the samples repo and content repo.
  * Add your code to samples, and documentation to content

[2016-12-07 04:06] #357 closed, assigned to nobody

[2016-12-07 04:07] ooeygui commented on #128
We've captured this feedback internally and are working to improve the native experience.
Thank you for the feedback.

[2016-12-07 04:07] #128 closed, assigned to bfjelds

[2016-12-07 04:09] ooeygui commented on #371
This project might help you out:
https://www.hackster.io/windows-iot/windows-10-iot-core-for-adafruit-spi-touchscreen-bb3795

It isn't exactly for your screen, but give you most of what you need to get going.
Hope this helps!

[2016-12-07 04:09] #371 closed, assigned to nobody

[2016-12-07 04:10] ooeygui commented on #376
Oh... Good catch.

@alecont ?

[2016-12-07 19:07] IoTGirl commented on #376
Hi juunas11,

The IOT Core team has accepted this request into their backlog (10105126) but as this team works on the agile model they can not provide a timeline for it to be reviewed/addressed.

Sincerely,
IoTGirl

[2016-12-07 19:17] #376 closed, assigned to alecont

[2016-12-09 09:26] v-tbert opened #382 "read access violations when accessing AllJoyn properties with DeviceProviders"
In various places where AllJoynInterface m_properties is accessed it can lead to a read access violation. For example, in AllJoynInterface::Shutdown sometimes gets an access violation on m_properties->Clear() even though m_properties itself is not null.

0xC0000005 occurred
Exception thrown: read access violation.
_Pnext was 0xDDDDDDE1.

[2016-12-09 14:32] sukeshak commented on #284
Thank you @stefangordon

I found this implementation very interesting since it uses System.Drawing namespace... do you guys think this method has any downside to it?
https://github.com/jakkaj/xIOT/tree/master/Samples/OLED_SSD1306

[2016-12-12 07:03] IoTGirl commented on #382
Hi v-tbert,
No specific to only alljoyn but I would expect such a violation if I attempted to access any object property after it was shut down. Can you please provide far more detail as to how this message is generated and why you think it is in error?
Sincerely, IoTGirl

[2016-12-18 19:21] vtni commented on #82
Any news?

[2016-12-25 15:04] Yuexs opened #389 "SpeechSynthesizer Voice How to install other languages"
SpeechSynthesizer Voice How to install other languages

How to install other language voice synthesis engine, I tried to extract from windows10 to IOT, but still can not be synthesized.

I now develop smart home voice synthesis and recognition dependence is high, I do not know how to solve this problem, very grateful to such a good system

[2016-12-25 15:06] Yuexs commented on #389
Iot OS version:10.0.14393.576

[2016-12-25 17:10] Yuexs commented on #389
I tried to extract the windows10 voice to the device

And try to set up the registry

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Speech_OneCore\Voices\Tokens

Still no effect

Ask for help

[2016-12-26 17:59] IoTGirl commented on #389
Closing duplicate - See [https://social.msdn.microsoft.com/Forums/en-US/d09494a0-f0af-434a-9e77-72da7500a8bb/windows-10-iot-speech-languages?forum=WindowsIoT](https://social.msdn.microsoft.com/Forums/en-US/d09494a0-f0af-434a-9e77-72da7500a8bb/windows-10-iot-speech-languages?forum=WindowsIoT) and other similar threads

[2016-12-26 17:59] #389 closed, assigned to nobody

[2016-12-26 18:00] IoTGirl commented on #382
Closing - No response

[2016-12-26 18:00] #382 closed, assigned to nobody

[2016-12-27 12:22] Tamer-Gamal opened #390 "SerialUART not working"
Hi,
i'm using the SerialUART in both Pi3 and PC to send/receive string/bytes anything , the data that i sent is not the data i receive, i tried everything, first i got error that there's no Mapping Encoding so i changed the string and send Encoding.UTF8.getBytes and receive Encoding.UTF8.getString but the Bytes that i receive is not the same at all. do i missing anything.

Update : i tried to rece

[2017-01-02 08:27] djaus2 opened #392 "Community Site for ms-iot Samples"
I've published a parallel site to this for IoT Community to publicise their GitHub projects.
[http://www.sportronics.com.au/ms_iot_Community_Samples](http://www.sportronics.com.au/ms_iot_Community_Samples)
You post your project's MD file (eg its ReadMe) and complete some information about the project and subject to approval it get gets listed in a searchable and sortable list.

[2017-01-06 18:59] IoTGirl commented on #392
Hi DJaus2,
Many thanks for that alternate sample location.  However, this forum is for issues related to the GitHub content. Closing as there is nothing for MS to address here.
Sincerely,
IoTGirl

[2017-01-06 18:59] #392 closed, assigned to nobody

[2017-01-06 19:02] IoTGirl commented on #390
Hi Eg-Virus,
There are known issue with the RPi3 miniUart.  Please try other settings or use a device with a full UART implementation.

See https://social.msdn.microsoft.com/Forums/en-US/b1d0a1f3-3ef2-4b74-afa9-f0a75e530a64/accessing-pure-uart-on-windows-10-iot?forum=HardwareBoards

Sincerely,
IoTGirl

[2017-01-06 19:02] #390 closed, assigned to nobody

[2017-01-12 17:57] IoTGirl commented on #306
NOTE: **Add WinHTTP netsh helper for proxy configuration in IoTCore** images was checked in to address this request and should appear in an upcoming Insider build.

[2017-01-14 00:37] piffarettig opened #395 "Can camera apps run with the RPI camera module?"
I got the [camera module from the RPI](https://www.raspberrypi.org/products/camera-module/), and I was wondering if any of the samples included here can work properly with it. I didn't find anything about the camera module and Windows IoT Core.

For example the [video capture sample](https://github.com/ms-iot/samples/tree/develop/VideoCaptureSample) or [web cam one](https://github.com/ms-iot/sampl

[2017-01-14 01:08] brandonzuech commented on #395
The module is currently not supported by windows iot. Your only option atm is USB based cameras

[2017-01-14 01:14] piffarettig commented on #395
Thanks!

[2017-01-14 01:14] #395 closed, assigned to nobody

[2017-01-16 17:39] piffarettig opened #396 "Can I run this sample on a Raspberry Pi?"
I am sorry to ask this question here, but I am afraid I haven't received any answer yet in the other forum.

Is a Cognitive Services sample I wanted to run on a RPI running Windows IOT Core.

 [This is my question](https://github.com/Microsoft/Cognitive-Samples-IntelligentKiosk/issues/6)

Whenever I try to deploy the code to the remote device, it asks me for a Windows Phone or to use an Emulator.

[2017-01-17 22:33] IoTGirl commented on #396
Closing as you have an answer at your prior post.

[2017-01-17 22:33] #396 closed, assigned to nobody

[2017-01-19 22:11] IoTGirl commented on #278
Hi Jason,

I am sorry I don't have a better answer for you but please take a look at the RFCOMM sample at [https://github.com/Microsoft/Windows-universal-samples](https://github.com/Microsoft/Windows-universal-samples) as that should be directly related to the desktop.

You are correct that UWP should work across the OS platforms but not all flavors of Windows 10 have the same API surface and the

[2017-01-19 22:11] #278 closed, assigned to stephenhuang

[2017-02-14 10:05] kikinewton opened #410 "Error while deploying appx file."
I tried to install the appx file of HelloBlinky on a raspberry pi 3 and and am getting this error. Any help will be appreciated.
Failure reason: Windows cannot install package Blinky_1.0.1.0_arm__1w720vyc4ccym because this package depends on a framework that could not be found. Provide the framework "Microsoft.NET.CoreRuntime.1.0" published by "CN=Microsoft Corporation, O=Microsoft Corporation, L=

[2017-02-14 17:10] bfjelds commented on #410
How are you trying to deploy the APPX file?  Are you including the dependency APPX files?

As an example, from the Device Portal, to deploy HelloBlinky, you should build the APPX and then enter:

1. Enter App Package = HelloBlinky\CS\AppPackages\Blinky_1.0.0.0_Debug_Test\Blinky_1.0.0.0_arm_Debug.appx
1. Enter Certificate = HelloBlinky\CS\AppPackages\Blinky_1.0.0.0_Debug_Test\Blinky_1.0.0.0_arm_Deb

[2017-02-16 11:28] florindpreda opened #412 "Is there a guide available for this project?"
Hello,

I'm new to the Microsoft IoT Core. I managed to setup and run the Blinky app but now I'm looking on how to connect my Raspberry PI 3 to Azure and PowerBI.

I found the **Azure/WeatherStation.PowerBI** project which I would like to run but I'm not sure what are the dependencies for it. Is there a guide page or file available?

Thanks

[2017-02-16 21:58] kikinewton commented on #410
Thanks for the help. Your solution worked.

________________________________
From: Brian Fjeldstad <notifications@github.com>
Sent: Tuesday, February 14, 2017 5:10:57 PM
To: ms-iot/samples
Cc: Derrick Agyemang; Author
Subject: Re: [ms-iot/samples] Error while deploying appx file. (#410)

How are you trying to deploy the APPX file? Are you including the dependency APPX files?

As an example, from t

[2017-02-17 16:43] nicogbg commented on #317
since DispatcherTimer aren't guarantee to fire immediately after interval expires and also because
it started some when seconds within a minute there is no guarantee that time will exactly be 0:00 when reloadContentTimer_Tick will be called. You should allow a time window around midnight in the if statement (and debounce).

[2017-02-17 18:24] IoTGirl commented on #412
There is a blog at [https://blogs.msdn.microsoft.com/iot/2016/01/26/using-power-bi-to-visualize-sensor-data-from-windows-10-iot-core/](https://blogs.msdn.microsoft.com/iot/2016/01/26/using-power-bi-to-visualize-sensor-data-from-windows-10-iot-core/)

[2017-02-17 18:26] IoTGirl commented on #410
Closing based on our confirmation

[2017-02-17 18:26] #410 closed, assigned to nobody

[2017-02-27 14:24] LeonardoDaga opened #418 "AppServiceSharedNotepad/C#: Client closing issue"
Hello,
I found that when one of the clients (both the background or the foreground) stops, the server is killed (closed) even if another client is attached.
Is this a desired behavior? Is it possible to check if another client is connected and eventually avoid to close the NotepadServer?

[2017-02-27 21:24] IoTGirl commented on #418
Hi Leonardo,
As you have the sample are you able to step through the code and identify the changes you would like to make for your implementation?  These are samples and not robust solutions so likely they would need more work before being ready for a real world product.
Sincerely,
IoTGirl

[2017-02-28 10:30] LeonardoDaga commented on #418
Hello IoTGirl,
I really don't know where to change the code to change the behavior. I already described the situation also here:
https://social.msdn.microsoft.com/Forums/en-US/59e959dc-52eb-4034-89fb-bee7812fc010/appservicesharednotepadc-example-survival-of-the-server-after-a-client-closes?forum=WindowsIoT

Sorry for posting twice :-(

[2017-03-01 04:45] AricGamma opened #419 "SerialUART: ReadAsync didn't return any data if some UI-related code disabled"
I tried to modify the connect button click listener like this:
[code]

As above, if disable the code:
[code]
ReadAsync couldn't return any data from serial device.
Why?

[2017-03-01 23:40] johngallardo opened #420 "NotepadService.StartupTask should handle IBackgroundTaskInstance::Cancel events."
If it doesn't, then when the task gets cancelled, the process may be terminated.

[2017-03-01 23:42] IoTGirl commented on #418
Hi Leonardo,
This is the correct forum for that posting as it relates to a sample within this repository.
Sincerely,
IoTGirl

[2017-03-02 01:03] paulmon commented on #418
See this pull request.  https://github.com/ms-iot/samples/pull/421
It's important to register the Canceled event for each AppService instance and Complete the deferral if a deferral is still held.

[2017-03-02 17:44] IoTGirl commented on #420
Hi Paul,
Is this addressed by your other Pull request?
Sincerely,
IoTGirl

[2017-03-02 18:39] paulmon commented on #420
Yes. https://github.com/ms-iot/samples/pull/421

[2017-03-02 18:42] #420 closed, assigned to paulmon

[2017-03-02 18:42] #418 closed, assigned to paulmon

[2017-03-04 00:24] jordanrh1 commented on #419
It doesn't make any sense. These lines should have no effect on the serial port operation. Could there be another reason ReadAsync isn't returning data? How is data being written to the port?

[2017-03-13 01:07] AricGamma commented on #419
Recent update: This issue existed when I was using a z-tek USB to serial cable to debug but disapeared when using another one which is SoC internal UART. Maybe it's a hardware bug of USB to serial device?

[2017-03-13 22:16] IoTGirl commented on #412
@florindpreda  As you have no further questions I am closing your issue.

[2017-03-13 22:16] #412 closed, assigned to arturl

[2017-03-14 02:36] CaseyLu opened #423 "Driver Deployment Task Failed: CBS Commit"
Sample gpiokmdf was built successfully. The gear screen displays too. However, VS has info of "Driver Deployment Task Failed: CBS Commit", and there are no other signs representing successful deployment. I am new to driver deployment. Anyone has a similar issue?

[2017-03-14 07:45] CaseyLu commented on #423
PS: My win 10 IoT is on Raspberry pi 3

[2017-03-16 17:20] IoTGirl commented on #423
Hi CaseyLu,
There is an existing issue at [https://social.msdn.microsoft.com/Forums/Windowsserver/en-US/57d40f2a-399a-46d9-91da-6e6c273baf13/cbs-status-failure-unable-to-debug-the-deploy-driver-to-rpi3?forum=WindowsIoT](https://social.msdn.microsoft.com/Forums/Windowsserver/en-US/57d40f2a-399a-46d9-91da-6e6c273baf13/cbs-status-failure-unable-to-debug-the-deploy-driver-to-rpi3?forum=WindowsIoT ) th

[2017-03-22 16:32] ghost opened #432 "could not find assembly 'platform.winmd'"
hello
what went wrong if building of **I2cTestTool** fails with C1107 ?

this occurs with vs2017 and also vs2015('Windows.winmd' instead of 'platform.winmd')
br
Andre

[2017-03-23 03:51] MyersMade opened #437 "USB-Serial Freezes OS when buffer is full (Blue Screen)"
Using Hardware or Software Handshaking on an external USB-Serial (FTDI) device:

When the receiving devices holds it's RTS low, the StoreAsync() should time out based on the .WriteTimeout parameter in the SerialDevice, return a 0 and allow me to react appropriately.

In IOT Core however, the StoreAsync() never times out, and will even lock up the entire OS and cause a blue screen watchdog violatio

[2017-03-23 16:53] IoTGirl commented on #437
Hi @MyersMade ,

I will ask someone to review this issue but please be aware that there are a number of issues with the USB hardware Stack in the RPi.  Have you seen this issue on any other platform?

Sincerely,
IoTGirl

[2017-03-23 16:56] IoTGirl commented on #432
Hi Andre,

Have you tried repairing the toolsets in question? ADK/SD?WDK?  Also can you confirm that the versions all match?

Sincerely,
IoTGirl

[2017-03-23 17:01] IoTGirl commented on #423
Hi @CaseyLu,
As you have not responded I would ask that you follow up on the forums thread above if you have more questions regarding this issue.
Sincerely,
IoTGirl

[2017-03-23 17:01] #423 closed, assigned to nobody

[2017-03-23 17:54] ghost commented on #432
hello
ADK and WDK should not be needed and SDK from both machines is the one included in the VS Editions and both are new installations
br
Andre

[2017-03-23 18:40] MyersMade commented on #437
No, Pi and Windows Desktop is all I have available.

[2017-03-28 17:19] zhuridartem commented on #44
Please see https://github.com/ms-iot/content/blob/develop/README.md on how to add new .md files for Docs.You would need to also update _data\_docs-index.json to add a link to new doc.

[2017-03-29 15:05] baotrung1309 opened #445 "The type or namespace name 'ApplicationInsights' does not exist in the namespace 'Microsoft' (are you missing an assembly reference?)"
Hi all,
I'm trying to run the sample "ZigbeeAdapter" in Alljoyn folder . The code is as following:
public App()
{
Microsoft.ApplicationInsights.WindowsAppInitializer.InitializeAsync(
Microsoft.ApplicationInsights.WindowsCollectors.Metadata |
Microsoft.ApplicationInsights.WindowsCollectors.Session);
this.InitializeComponent();
this.Suspending += OnSuspending;
}
The error log: The type or namespace

[2017-03-29 15:08] GouthamiJJ commented on #445
Hi all,

Even I'm also facing the same issue please give a solution to solve it.

Regards,
Gouthami

[2017-03-29 15:21] MofaggolHoshen commented on #445
I have installed Microsoft.ApplicationInsights.WindowsApps dependency but I am not able to discover any ZigBee Device.

[2017-03-30 01:36] MyersMade commented on #437
@jordanrh1 , have you had a chance to look at this?

[2017-03-30 19:46] zhuridartem commented on #311
Thank you for reporting. My apologies for taking so long -
Should be fixed with https://github.com/ms-iot/samples/pull/450

[2017-03-31 17:23] zhuridartem commented on #317
This issue should be fixed in latest version of the code.

[2017-03-31 17:23] #317 closed, assigned to zhuridartem

[2017-03-31 17:24] zhuridartem commented on #311
This issue is now fixed.

[2017-03-31 17:24] #311 closed, assigned to zhuridartem

[2017-04-01 00:03] zhuridartem commented on #445
The missing ApplicationInsights should be resolved with the pull request #455.
To work with ZigBee devices, please see our tutorial at https://developer.microsoft.com/en-us/windows/iot/Samples/ZigBeeAdapter. You will need to setup a ZigBee network first before bridging it to AllJoyn.

[2017-04-03 17:15] #445 closed, assigned to zhuridartem

[2017-04-04 16:36] IoTGirl commented on #432
Hi Andre,
Is this still an open issue for you?
Sincerely,
IoTGirl

[2017-04-04 16:41] IoTGirl commented on #437
This issue has been cross posted - [https://social.msdn.microsoft.com/Forums/en-US/a299cdbf-6087-4f37-baa9-43e9f8cea2af/serial-rs232-datawriterstoreasync-causes-blue-screen-in-windows-iot-core?forum=WindowsIoT#6b167353-a856-4ab2-b372-31eea9d12cc6](https://social.msdn.microsoft.com/Forums/en-US/a299cdbf-6087-4f37-baa9-43e9f8cea2af/serial-rs232-datawriterstoreasync-causes-blue-screen-in-windows-iot-

[2017-04-04 16:56] ghost commented on #432
even if i don't have an answer or solution its now on the big list of not working iot projects
br
Andre

[2017-04-04 16:56] #432 closed, assigned to nobody

[2017-04-04 18:25] embedded101 commented on #437
@MyersMade,

There are known issues with certain FTDI USB-to-RS232 chip (I don't remember the details.).
A while back, I was using a batch of USB-to-RS232 adapter from FTDI for a community project using Windows 10 as the dev machine.  I got report from some participants the FTDI adapters had problems.
I reached out to my contact at FTDI at the time and was told there was known issue with the USB-t

[2017-04-04 23:32] MyersMade commented on #437
Thanks for your response.  My hardware is an external USB-RS232 adapter

I've tried two different models:

GEARMO FTDI-LED
Chipset FTDI FT232RL
(tried 2 different units)

Unknown Mfg
Chipset FTDI FT232RL

Both devices I got the same results.

![s20170404_0009](https://cloud.githubusercontent.com/assets/26030842/24683048/8fb64e48-1962-11e7-9953-4b9ea613cb08.jpg)

![s20170404_0010](https://cloud.git

[2017-04-14 03:34] rajnishc8 opened #474 "build issue with I2cTestTool/"
Hello,
 I get following error when I try to build I2CTestTool.

1>------ Build started: Project: I2cTestTool, Configuration: Release x64 ------
1>main.cpp
1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Tools\MSVC\14.10.25017\include\agile.h(16): fatal error C1083: Cannot open include file: 'wrl\client.h': No such file or directory
1>Done building project "I2cTestTool.vcxproj" -

[2017-04-17 17:25] IoTGirl commented on #474
Hi @rajnishc8,

The message 'wrl\client.h' says you are missing the "wrl" or Windows Runtime Library files.  Are you sure you have installed all the required tools to use the IoT Core samples?

Sincerely,
IoTGirl

[2017-04-18 18:57] rajnishc8 commented on #474
Hi @IoTGirl,
I have vs2015, vs2017, EWDK installed.

To get it to build successfully in VS2017, I had to set
Additional Include Directories to:
C:\Program Files (x86)\Windows Kits\10\Include\10.0.14393.0\um;C:\Program Files (x86)\Windows Kits\10\Include\10.0.14393.0\shared;C:\EWDK\Program Files\Windows Kits\10\Include\10.0.14393.0\winrt
and
Additional Dependencies to:
C:\Program Files (x86)\Window

[2017-04-21 06:53] IoTGirl commented on #474
Thanks for the update Rajnish!

[2017-04-21 16:58] paulmon commented on #474
If you have the current code in github it shouldn't be using the 14393 version of the SDK, it should be using 15063.  It should also be using the v141 compiler settings rather v140.  Those are the the supported settings to use with VS 2017

[2017-04-22 01:46] rajnishc8 commented on #474
Please refer to screen shot given below
SDK version is :  10.0.15063.0 .
![i2ctesttoolerror](https://cloud.githubusercontent.com/assets/16884780/25300352/1b2d0160-26d3-11e7-80bf-77f028a6521e.PNG)

It can be seen in the screen capture that it does not build with vs2017 and sdk 10.0.15063.0 .

Thanks,
--Rajnish

[2017-04-25 16:06] IoTGirl commented on #474
Hi @rajnishc8,
Do you have VS 2015 also installed on this machine?  The packages seem to only attribute to one or the other not both versions of VS so if you have VS2015 installed, it may be that the packages are actually attached to that prior version of VS rather than VS 2017.
Sincerely,
Justine

[2017-05-13 07:39] akeilox opened #483 "OpenCV example Visual Studio 2017"
I am trying to compile the OpenCV example on Visual Studio 2017 with c++ dev installed.

During build it complains cant locate the opencv_core300d,lib which I presume needs to be compiled from ms opencv fork at **https://github.com/Microsoft/opencv**

but I cant get that fork to compile under Visual Studio 2017 either, enquired the same under **https://github.com/Microsoft/opencv/issues/78**

Is t

[2017-05-13 08:51] akeilox commented on #483
following up on the post above, i might have a **hacky** progress but still falls short;

after installing c++ dev tools for vs 2015, the project openCV still did not  compile.
So I have tried renaming all the references from 140 to 141 in the .vcxproj files

After which I have changed the SDK version of the openCV fork to 10.0.15 (latest)

then i have compiled **both** debug and release versions

[2017-05-16 17:31] IoTGirl commented on #483
Hi @akeilox ,
Please research this with the repository owners at [https://github.com/Microsoft/opencv/issues](https://github.com/Microsoft/opencv/issues)
Sincerely,
IoTGirl

[2017-05-16 17:31] #483 closed, assigned to nobody

[2017-05-21 03:57] ghost opened #485 "add more streaming cameras"
There is a way to add two or more cameras?

[2017-05-24 19:18] IoTGirl commented on #485
Depending on your hardware choice you are likely to bottleneck pretty quickly.  What have you tried?

[2017-05-24 19:49] ghost commented on #485
Hello thanks for reply i just using raspberry pi2 and i have two types of cameras usb and ip .cam..but what part of code explain number of cameras unfortunally i'm beginner of visual c# for understand..

[2017-05-29 03:50] btusca opened #489 "IoTOnboarding doesn't build"
Hi!
I'm trying to make it work the CompanionApp samples but the SoftAP's ssid doesn't appears in my wireless list. I followed the instructions about adding a registry. Then, I read an issue where explains that I have to redeploy a new IoTOnboarding app to enable SoftAP.

When I tried it, VS2017 show me this:
![image](https://cloud.githubusercontent.com/assets/15097129/26535934/59ec3766-4408-11e7-9

[2017-05-30 22:19] artus9033 commented on #30
So one year passed, is there any progress?

[2017-05-31 17:30] IoTGirl commented on #489
Hi @btusca,
If you are using the distributed image, the SoftAP should be enabled by default. Are you attempting to disable it?

Take a look at http://###.###.###.###:8080/#Onboarding replacing the # with the IP address of your device to see the status/settings of the SoftAP.
Sincerely,
IoTGirl

[2017-06-19 08:59] aegiMt opened #494 "Found Error in HID Injection Sample"
Hello

Please take a look to file HidInject.cpp. Function SetKeyboardUsage and ClearKeyboardUsage does not work correctly pressing more than one key at once...

Fixed version attached (renamed to .txt).

Regards, Andi

[HidInject.txt](https://github.com/ms-iot/samples/files/1084366/HidInject.txt)

[2017-06-19 17:48] IoTGirl commented on #494
Hi @aegiMt,
Please submit a code change request rather than sample txt like this.  Code change requests can be code reviewed and accepted in place rather than adding this complexity.
Sincerely,
IoTGirl

[2017-06-19 17:48] #494 closed, assigned to nobody

[2017-06-20 00:04] IoTGirl commented on #44
Closing Stale - Site has been overhauled and is scheduled for another soon.

[2017-06-20 00:04] #44 closed, assigned to ooeygui

[2017-07-07 17:27] phardesty opened #501 "Setting-Up sensortag..."
ENVIRONMENT:
**What Computers, OS and devices are involved with this repro? How are they connected?**
We are using the sample below with the Texas Instruments I SimpleLink SensorTag Development Kit Featuring the CC2650 wireless MCU. When running on a Windows 10 creators update and Windows phone Lumia950 XL running Windows 10 1703 build number 10.0.15228.0
REPRO STEPS:
What steps would someone else

[2017-07-07 19:24] phardesty commented on #208
Hello -
Does anyone know the new UUIDs for the new CC2650 Texas Instruments sensorTag that replaced the CC2541. The CC2541 is no longer available from Texas Instrument and was "replaced" by CC2650. The code in the sample uses the old UUID's.

[2017-07-09 20:20] btusca commented on #489
yes, it is enabled,
I just want to change the wifi configuration without using an ethernet cable or the device portal.

[2017-07-10 23:40] IoTGirl commented on #501
Hi @phardesty,

Have you looked at David Jones's post regarding the Ti Sensor tags?  Maybe it would help.
[http://www.embedded101.com/Blogs/David-Jones/entryid/782/Bluetooth-BLE-Creators-Edition-and-RPi3-issue-](http://www.embedded101.com/Blogs/David-Jones/entryid/782/Bluetooth-BLE-Creators-Edition-and-RPi3-issue-)

Sincerely,
IoTGirl

[2017-07-12 08:27] mce1978 commented on #208
The uuids are available at Texas Instruments webpage.

This page is also very informative:
http://processors.wiki.ti.com/index.php/CC2650_SensorTag_User%27s_Guide

[2017-07-20 14:11] 1RedOne opened #504 "Can't open IoTCoreDefaultApp Anymore"
When trying to open the IoTCoreDefaultApp now in Visual Studio 2017, I get an error of

![image](https://user-images.githubusercontent.com/1247626/28421698-ebb2af0a-6d33-11e7-9211-b6182c806d0b.png)

These samples worked three weeks ago in the same configuration, but don't work now.

[2017-07-20 17:40] paulmon commented on #504
In the project properties make sure the **Target version** and **Min version** are set to SDKs that you currently have installed.
![image](https://user-images.githubusercontent.com/15679195/28431053-b07d8258-6d37-11e7-9e7c-628127a60ebe.png)

[2017-07-22 16:11] wirelessdreamer commented on #501
This example is not working for me either.
Windows Build: 14393.1480
Bluetooth Adapter ASUS USB-BT400
Visual Studio 2017
SensorTag with CC2650 MCU

On startup the sensor tag shows up in the device list.
it takes about 10 seconds for pair and connect to change color, so it can be clicked on.
after clicking on it it says Setting up Sensor tag. then throws an exception on line 444 of MainPage.xasl.cs

[2017-07-25 12:15] JimSEOW commented on #483
@IoTGirl  We need to have opencv_core300d.lib and opencv_core300,lib available through Nuget. So others do not have to repeat the the process of how to get it works

[2017-07-30 15:09] JimSEOW commented on #263
@ScottLiuGitHub Please see the [C# version](https://github.com/ms-iot/samples/pull/498)

[2017-08-06 05:01] JimSEOW opened #508 "Passing data between headed UWP app and headless (background) python app"
We need examples on how to do [the following tutorial ](https://sandervandevelde.wordpress.com/2016/04/11/passing-data-between-windows-10-iot-core-headed-and-headless-apps/)with headless background python app.

How we could implement below for headless python?
[code]

[2017-08-07 08:57] mtheolog opened #509 "How to launch a background app from another app or batch file"
I have developed two background apps using the windows IoT core template. I need to launch them at the start up of my device but I found out that windows 10 iOt core os can support only one uwp app and only one background app as start up app. Thus I wonder how to launch the background app from another background app, uwp app or batch file. Any ideas?

[2017-08-07 20:02] bfjelds commented on #509
Windows 10 IoT Core supports one UWP startup app and any number of background startup apps.  Are you seeing an error when attempting to set multiple background startup apps?

[2017-08-10 18:49] zhuridartem commented on #509
If you haven't already, please run "iotstartup add headless <app name>" for registering and triggering a start of the additional continuous background task (CBT) app. Multiple CBTs launch is supported.

[2017-08-24 19:41] ArthurOliveiraBR opened #515 "SerialUART: Unable to change StopBits to "SerialStopBitCount.Two""
Hi folks,

I've tried to modify the "SerialSample" to use two stop bits instead of the default configuration in a RaspberryPI 3 Model B and any value different from "SerialStopBitCount.One" throws an exception as below:

`'serialPort.StopBits = SerialStopBitCount.Two' threw an exception of type 'System.ArgumentException'
    Data: {System.Collections.ListDictionaryInternal}
    HResult: -214702480

[2017-09-02 03:46] dzfweb opened #521 "light sensor sample"
I'm trying to create a light sensor, but i don't know how to do it working on windows iot core.

Is there a sample or can someone help me with a guideline?

[2017-09-02 13:47] hansmbakker opened #522 "Building HIDInjector for x64 gives error"
The HIDInjector sample cannot be built on x64.

[Line 502 in HidInjectorKd.c](https://github.com/ms-iot/samples/blob/develop/HIDInjector/driver/HidInjectorKd.c#L502) gives an error because size_t is 64 bit on x64 and ULONG is 32 bit.

[2017-09-05 09:43] FansteKaRiNa1998 commented on #522
Did it work for you on x32? I am trying to make it work last 6 months, but it's like vhf isn't really making the changes with reportsubmit method. All this time I was testing a copy of the sample on x64

[2017-09-05 09:49] hansmbakker commented on #522
I didn't try it on Win IoT Core yet or on Win x32. For me it worked when I deployed it to a tablet running Win 10 x64 (build 16278). I had to use Visual Studio 2015+WDK 15063 since [the Insider Preview WDK (16267) has a bug that makes it impossible to build drivers](https://developercommunity.visualstudio.com/content/problem/106441/apivalidator-returns-unclear-error-1.html). As a quick hack I did

[2017-09-05 10:27] FansteKaRiNa1998 commented on #522
Wait, did you say that when you decided to change the report descriptor (for example to gamepad, joystick, etc), it didn't work?

[2017-09-05 12:04] hansmbakker commented on #522
Exactly. The sample app + sample driver worked (at least the keyboard part, I didn't try the mouse or touch input); it injects something like Aa in the terminal.

But after I changed it to other HID descriptors (I wanted to emulate a surface dial using https://docs.microsoft.com/en-us/windows-hardware/design/component-guidelines/radial-controller-sample-report-descriptors), it didn't work anymore.

[2017-09-05 13:26] FansteKaRiNa1998 commented on #522
Thank you for the insight. Unfortunately, I don't have any more clues than you have. To be frank, this is the first time someone shares his experience with me about VHF HID. I commented on their official page, but nobody haven't replied to me yet. https://docs.microsoft.com/en-us/windows-hardware/drivers/hid/virtual-hid-framework--vhf-
Maybe, if you comment on that section too, will wake up the de

[2017-09-05 14:09] hansmbakker commented on #522
The odd thing is that the report **descriptor** is read properly (Windows shows the Wheel tab in the settings app) but the actual reports seem to be not delivered. When I know more I'll post it here, but let's discuss it in a new topic. This topic is for a request to make the code compile on x64.

[2017-09-05 14:15] FansteKaRiNa1998 commented on #522
Try copying the code to a new project, works for me. I have the exact same problem with delivering actual report.

When transfering a project to x64, additional dependencies are deleted. That's why you must add in the project properties -> linker -> input -> additional dependencies
next line: (DDK_LIB_PATH)vhfkm.lib

[2017-09-05 14:19] hansmbakker opened #523 "HID reports are not delivered? consumed? by VHF?"
As discussed in https://github.com/ms-iot/samples/issues/522 and in the comments on https://docs.microsoft.com/en-us/windows-hardware/drivers/hid/virtual-hid-framework--vhf-:
It seems that custom HID reports do not work well with the HID Injector. I could inject the keyboard HID reports from the sample, they seemed to work.

However when I changed the HID reports AND the HID report descriptors [to

[2017-09-05 14:27] hansmbakker commented on #522
@FansteKaRiNa1998 please comment in #523, this topic is for a request to make the code compile on x64.

@ooeygui @Daniel-Walther @parameshbabu @serusako can you have a look at how the code should be properly changed for x64? C++ is not my "native" programming language.

`HID_XFER_PACKET` cannot be changed since it is part of `hidclass.h`, `reportBufferLen` is an `ULONG` there. `EVT_WDF_IO_QUEUE_IO

[2017-09-05 14:34] hansmbakker commented on #523
Quotes from @FansteKaRiNa1998 from #522

@FansteKaRiNa1998 what works for you? I thought that you said that you have a problem?

next line: (DDK_LIB_PATH)vhfkm.lib

That line was already ok here, I took the whole HIDInjector project as a basis, I didn't create a project from scratch.

[2017-09-05 14:39] FansteKaRiNa1998 commented on #523
Did you look at the device manager when you tested keyboard? When testing for a gamepad, it would appear only in USB Game Controllers, while it wouldn't appear in Device Manager. Also, I could uninstall driver at any time.

The difference with testing a keyboard is that it created a HID compliant device in the Keyboard section of Device Manager, and I couldn't uninstall the main driver until I uni

[2017-09-05 14:42] FansteKaRiNa1998 commented on #522
After some time, there happen to be some strange bugs, for example, it deploys an old version although I clean and build or just click on rebuild. Another example is when targeting x64, it removes additional dependencies from the Linker -> Input section.
My safest bet is always to create an empty KMDF driver and put everything there. It always works for me, and it costs the least amount of time.

[2017-09-05 14:46] FansteKaRiNa1998 commented on #522
@wind-rider A simple cast is good enough, I have verified it on x64.

[2017-09-05 20:54] hansmbakker commented on #523
Unfortunately the kernel mode debugging tools are a disaster. I could not connect properly with the Visual Studio debugger, but oddly enough I CAN connect with WinDbg Preview from the Windows Store. However with that I'm not sure what to do.
So - unfortunately now new insights.

Having my custom code deployed I did see that there is a `HID-compliant device` node in the `Human Interface Devices` cl

[2017-09-05 21:00] FansteKaRiNa1998 commented on #523
In which Visual Studio are you working? Also, describe the problem with kernel mode debugging.

[2017-09-06 06:48] hansmbakker commented on #523
I’m using visual studio 2015 update 3 with WDK 15063 since unfortunately that is the only usable combination now.

I tried WDK 16278 on vs 2017 15.4.0 preview I but that didn’t install, but somehow the windbg version in visual studio 2015 got upgraded to 16278..

Visual studio 2015 can provision the target pc properly and also it can deploy the driver. However that builtin windbg version does not

[2017-09-06 07:37] FansteKaRiNa1998 commented on #523
You mean you deploy the driver successfully but you don't see any messages shown?

[2017-09-06 07:42] hansmbakker commented on #523
Yes the driver is deployed successfully, but when running the `HidInjectorTest` sample app, which uses modified HID reports so that they match the modified HID report descriptors, nothing happens. The driver / device is correctly recognized as a Windows Wheel device but no actions are triggered.

[2017-09-06 07:44] FansteKaRiNa1998 commented on #523
Okay, we recognized that problem earlier. I am asking you about KdPrint/DbgPrint messages. I thought they also don't display?

[2017-09-06 07:46] hansmbakker commented on #523
Aah - You mean I should see them in WinDbg without having a breakpoint set? I didn't notice them, but I'll have a look again when I'm home.

Did you do any kernel debugging? Did you see these messages?

[2017-09-06 08:14] FansteKaRiNa1998 commented on #523
For that, there are three possible reasons that I know of:

1. Something went wrong when turning up the test machine or the computer you are programming on. This solution is the easiest and it just requires you to reboot.

2. When provisioning target device for deployment, you mismatched your own ip address (host address) or your address isn't static so next time you booted in it got changed. Try

[2017-09-06 18:22] hansmbakker commented on #523
I tried
`ed Kd_DEFAULT_Mask 0xFFFFFFFF` and `ed Kd_DEFAULT_Mask 0x8` according to https://docs.microsoft.com/en-us/windows-hardware/drivers/devtest/reading-and-filtering-debugging-messages (KdPrint uses the default component and by default it publishes at level 3 which in bitmask is 0x8). It showed a lot of Windows kernel messages but strangely enough not the ones that are in the HidInjector Sampl

[2017-09-06 19:10] FansteKaRiNa1998 commented on #523
You must restart test PC after making changes in its RegEdit

[2017-09-06 19:50] hansmbakker commented on #523
I didn’t do it via regedit, I did it directly via WinDbg. Those commands should have effect immediately. And they triggered other log messages from Windows.

[2017-09-08 19:23] FansteKaRiNa1998 commented on #523
I really can't help you other way, I am not familiar with the utility.

[2017-09-19 23:56] Apflkuacha commented on #515
I also encountered this problem, this is most probably a bug (or unsupported feature) in Windows IoT

Edit: it is possible to set it on external devices (USB - Serial converters)
At the internal serial port it isn't possible to set StopBits.

[2017-09-22 12:58] mtheolog commented on #509
What I am facing this moment is that i would like to launch the background apps through another app (uwp or background app) that it will act as a startup app. In other words i would prefer to have one startup app that launches all my background apps with a specific order.

[2017-10-03 15:01] ghost opened #529 "Problem when reading the values from the pins in Background Task"
Hello,
when I use BackgroundApp (IoT) template I get no values from the pins.
I try it exactly as in Foreground App, but there is no event triggered when pressing the button.
Can someone tell me what I do wrong?

Here is my Code

`namespace BackgroundApplication2
{
    public sealed class StartupTask : IBackgroundTask
    {
        private const int LED_PIN = 6;
        private const int BUTTON_PI

[2017-10-05 10:19] MtotheKay opened #530 "AllJoyn ZigBeeAdapter crashes with System.ArgumentException"
Hello,

I'm trying to do this tutorial [https://developer.microsoft.com/en-us/windows/iot/samples/zigbeeadapter](url)

But when I start the Headed- or Headless-AdapterApp the App crashes with this:

WinRT information: dp
An exception of type 'System.ArgumentException' occurred in HeadedAdapterApp.exe but was not handled in user code
WinRT information: dp
The parameter is incorrect.

It gets stuck

[2017-10-07 21:35] MtotheKay commented on #530
Reinstalling Windows IoT did the job.

[2017-10-07 21:35] #530 closed, assigned to nobody

[2017-10-27 11:04] MarcoTu opened #532 "Alljoyn devices not visible in IoT explorer for alljoyn"
Hi,

I'm working with a Raspberry Pi3 and Windows IoT Core. I've installed OS version 15063 (dowloaded from https://www.microsoft.com/en-us/download/details.aspx?id=55029). I have also a Aeon Labs DSA02203-ZWUS Z-Wave Z-Stick Series 2 USB Dongle attached to RPi. Everything should be set up correctly to run the zwave sample as per https://developer.microsoft.com/en-us/windows/iot/samples/zwaveadapt

[2017-11-19 11:56] tomek14 opened #537 "AllJoyn is no longer supported by Windows 10 IoT!? Why?Any announcement were made?"
Hello,
I worked with Alljoyn DSB on Windows 10. Today when I searching something in docs i saw

When this happen?? Any announcement were made? I can't find any information about that? Can you give us (developers) some clarification? Do we have any alternatives ??

[2017-12-13 11:57] mtheolog opened #540 "AppServiceBlinky node.js sample - Cannot debug from VS 2015 (crashes!)"
Visual studio 2015 crashes when I am trying to debug AppServiceBlinky node.js sample at a Remote Machine (Raspberry pi 3 running windows 10 Iot Core). Initially, I set up the remote machine IP and node arguments (--debug --use-logger) at the project properties. When I start debugging (F5), a message 'This project is out of date' appears and after pressing Yes to proceed, the build process ends suc

[2017-12-14 14:30] Cur001 opened #541 "Windows 10 IoT Support - Status Update?"
You are viewing archived documentation. AllJoyn is no longer supported by Windows 10 IoT. For questions, please open an issue on GitHub or leave us feedback in the comments below.

Would you mind clarifying the above statement posted at: https://docs.microsoft.com/en-us/windows/iot-core/archive/alljoyn.

I the latest version of IOT capable of running AllJoyn OnBoarding and Soft Access Point, what

[2017-12-21 10:50] NexVII opened #543 "AllJoyn ZWave Adapter Headless Host not receive signals from sleeper devices after reboot"
Hi,
I'm working with a Raspberry Pi3 and Windows IoT Core v.10.0.16299.125 and USB Aeon Labs Z-Stick Gen 5 attacched to RPi.
The ZWave Provider works great with all ZWave devices until I reboot RPi, after which I do not receive any signal from sleeper device until they send the message "WAKE_UP_NOTIFICATION", but this could happen after a day.
So every signals sent by these devices in this period

[2017-12-24 11:43] MtotheKay commented on #537
+1 Please Elaborate! It's more then a month now....